/* 
    Document   : menuBar
    Created on : Feb 20, 2013, 4:14:18 AM
    Author     : Arief
    Description:
        Purpose of the stylesheet follows.
*/

#menu {
    font-size: 14px;
    font-family: monospace;

}

