.label-biodata{
	font-family:"Times New Roman", Times, serif;
	color:white;
	font-size:15px;
	
}

#dashboard-header{
	width:980px;
	border : 1px solid #ccc;
	border-radius : 5px;
	-mox-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
    border-style: dashed;
	margin: 10px 0px;
}

#dashboard-tugas{
	width:600px; 
	height:500px; 
	float:right;
	border : 1px solid #ccc;
	border-radius : 5px;
	-mox-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
    border-style: dashed;
	padding: 25px 25px;
	overflow:auto;
}

#dashboard-listcategory{
	width:250px; 
	height:500px;
	float:left;
	border : 1px solid #ccc;
	border-radius : 5px;
	-mox-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
    border-style: dashed;
	margin-right:10px;
	padding : 25px;
	overflow:auto;

}

h1{color:white;}
h2{color:white;}
h3{color:white;}
h4{color:white;}
h5{color:white;}
h6{color:white;}
h7{color:white;}
#dashboard-title{
	text-align: center;
}

#dashboard-addCategory{
	text-align:center;
	font-size:20px;
	font-weight:bold;
}

.dash-category{
	color:yellow;
}
.dash-category:hover{
	color:orange;
}

.category-content{
	height:auto;
	border-radius : 5px;
	-mox-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
    border-style: dotted;
	border-color: white;
	margin-bottom:25px;
	padding: 0px 25px 25px;
}

li{color:white;}
a{color:yellow;}

a:hover{
	color:orange;
}

a.tag{
	color:yellow;
}
a.tag:hover{
	color:orange;
}

button{
	float:right;
}


a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(100, 100, 100, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #888;
    border: 3px solid #222;
    display: inline-block;
    left: 50%;
    opacity: 100%;
    padding: 0px 15px 15px 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(255, 255, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(255, 255, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(255, 255, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(255, 255, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(255, 255, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 25%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}