@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,200);

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.35;
	background: #f6f6f6;
}

/** General element styling **/

/* Links */
a {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

/* Page elements */
section {
	margin-bottom: 16px;
}
section h3 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ccc;
	margin: 0 0 6px;
}

.content > div {
	padding: 20px;
}
.content > div > header {
	position: relative;
}
.content > div > header > ul {
	position: absolute;
	top: 15px;
	right: 10px;
	margin: 0;
	padding: 0 0 0 16px;
	list-style: none;
	font-size: 14px;
	line-height: 25px;
}
.content > div > header > ul li {
	display: inline-block;
}
.content > div > header > ul li a {
	color: #999;
	display: inline-block;
	background: #eee;
	padding: 0 10px;
	border-radius: 2px;
}
.content > div > header > ul li a:hover {
	color: #666
}

/* Forms */
form {
	display: block;
}
form .field label {
	display: inline-block;
	width: 100px;
	height: 22px;
	padding: 4px 20px 0 0;
	text-align: right;
}
form.vertical .field label {
	display: block;
	width: auto;
	height: auto;
	text-align: left;
	padding: 0;
	margin-bottom: 4px;
}
form .buttons {
	padding-left: 120px;
}
form.vertical .buttons {
	padding-left: 0;
}
button,
input,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	vertical-align: middle;
}
button {
	cursor: pointer;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	margin-bottom: 7px;
	display: inline-block;
	height: 22px;
	padding: 4px 6px;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border .1s, box-shadow linear .2s;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus
{
	border-color: #666;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #CCC;
}
input.invalid {
	border-color: #f00 !important;
}
textarea {
	height: auto;
}
button {
	padding: 4px 15px;
	border-radius: 2px;
	border: 1px solid #999;
	background: #f6f6f6;
	box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.1);
}
button:active {
	background: #eee;
	padding: 5px 15px 3px;
	box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}

/** Base Layout **/
.site-container {
	margin-left: auto;
	margin-right: auto;
}
.site-footer {
	clear: both;
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	font-size: 12px;
	color: #999;
}

/** Header **/
.site-container > header {
	float: left;
	width: 100%;
	padding: 15px 0 0;
	color: #999;
	font-size: 15px;
}
.site-container > header h1 {
	padding-left: 20px;
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: inherit;
	text-transform: uppercase;
	color: #333;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #eee;
	line-height: 2;
}
.site-container > header h1 a {
	color: #000;
}
.site-container > header p {
	margin: 0;
	float: left;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: inherit;
	line-height: 2;
}
.site-container > header ul {
	margin: 0;
}

.site-container > header nav {
	float: left;
	width: 100%;
	background: #eee;
	margin: 15px 0 0;
	position: relative;
}
.site-container > header nav ul {
	display: block;
	margin: 0;
	padding: 5px 0 0 10px;
	float: left;
	font-size: 14px;
}
.site-container > header nav ul li {
	display: inline-block;
	margin-right: 10px;
}
.site-container > header nav ul li a {
	display: block;
	padding: 5px 10px;
	color: #666;
}
.site-container > header nav ul li a:hover {
	background: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	color: #333;
}
.site-container > header nav ul li.active a {
	background: white;
	color: #444;
}
.site-container > header nav .search-box {
	display: inline-block;
	float: right;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 20px;
}
.search-box input {
	height: 14px;
	margin: 0;
}

/** Dashboard **/
.categories ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.categories li {
	list-style: none;
	width: 100%;
	margin-bottom: 5px;
	margin-left: -5px;
}
.categories li a,
.categories .dashboard-link a {
	display: block;
	padding: 7px 10px 7px 5px;
	color: #666;
	text-decoration: none;
	font-size: 16px;
	transition: background .3s;
}
.categories li a:hover {
	background: #eee;
	transition: background .2s;
}
.categories li.active a {
	background: rgba(0, 0, 0, 0.7);
	color: white;
}

.content {
	float: left;
	width: 100%;
	background: white;
}
.content > div {
}

/* Dashboard */
#searchForm button {
	display: none;
}
.task {
	padding: 7px 0 7px 10px;
	position: relative;
	margin-bottom: 5px;
	margin-left: -10px;
	border-radius: 2px;
}
.task:hover {
	background: #f6f6f6;
}
.task h1 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
}
.task-checkbox {
	vertical-align: middle;
	display: block;
	float: left;
	width: 20px;
	text-align: left;
}
.task-checkbox input {
	margin: 5px 0;
	padding: 0;
}
.task a {
	color: #666;
}
task .category {
	display: none;
}
.task p, .task .details div {
	display: inline;
}
.task .details {
	color: #999;
}
.task .detail-label {
	display: none;
}
.task .details .tags {
	margin-left: 10px;
}
.completed.tasks .task a {
	text-decoration: line-through;
}
.tag {
	font-size: 12px;
	color: #666;
	background: #ccc;
	padding: 2px 4px;
	border-radius: 3px;
}

/* Task details header */
.content > div > header {
	padding-top: 15px;
	padding-bottom: 15px;
}
.content > div > header h1 {
	display: inline-block;
	font-size: 22px;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}
.task-details > header .task-checkbox {
	width: 20px;
}
.task-details > header .task-checkbox input {
	width: 10px;
}
.task-details section.details {
	width: 400px;
	padding-left: 20px;
	float: left;
}
.task-details section.details p {
	margin: 0 0 6px;
}
.task-details #edit-task {
	display: none;
	width: 400px;
	padding-left: 20px;
	float: left;
}
.detail-label {
	color: #666;
	min-width: 5em;
	display: inline-block;
}
p.description .detail-label {
	display: none;
}
.task-details section.attachment {
	float: right;
	width: 440px;
	padding-left: 20px;
}
.task-details section.attachment figure {
	margin: 0;
	padding: 0;
}
.task-details section.attachment figure * {
	max-width: 100%;
}
.task-details > section.comments {
	clear: left;
	padding-left: 20px;
	padding-top: 15px;
}
.task-details > section.comments article h4 {
	margin: 0;
	font-weight: normal;
	font-size: 1em;
	float: left;
}
.task-details > section.comments article h4:after {
	content: ':';
	padding-right: 7px;
}
.task-details > section.comments article p {
	margin: 0 0 6px;
	color: #666;
}
.task-details > section.comments .comment-form {
	margin-top: 15px;
}
.task-details > section.comments .comment-form textarea {
	padding: 5px;
	font: inherit;
	width: 20em;
	height: 4em;
	display: block;
}

.intro img {
	width: 100%;
	margin: 20px 0;
}
.intro h2 {
	font-size: 30px;
	font-family: 'Source Sans Pro';
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
}
.intro p {
	font-size: 30px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	line-height: 1.2;
	margin: 0;
	color: #999;
}
.features {
	margin-top: 20px;
}
.features ul {
	margin: 0;
	padding: 0 0 0 20px;
}

/* Profile */
.profile-details {
	margin-bottom: 14px;
	padding-left: 220px;
}
.profile .tasks {
	padding-left: 220px;
}
.profile-details p {
	margin: 0 0 6px;
}
.profile-image {
	float: left;
	max-width: 200px;
	margin: 0 20px 0 -220px;
	padding: 0;
	position: relative;
	z-index: 2;
}
.profile-image img {
	max-width: 100%;
}

/** Responsive design **/

/* Handhelds - smartphones */
@media (max-width: 767px) {
	#loginLink {
		display: none;
	}
}

/* Tablets in portrait */
@media (min-width: 768px) {
	.site-container {
		width: 720px;
		position: relative;
	}
	.content > div {
		position: relative;
	}
	.primary {
		float: left;
		width: 480px;
		min-height: 30em;
	}
	.secondary {
		float: left;
		width: 180px;
		margin: 0 0 0 20px;
	}
	.secondary input {
		width: 156px;
	}

	/** Main Page **/
	#loginBox {
		display: none;
		opacity: 0;
	}
	#loginBox.visible {
		display: block;
		opacity: 1;
	}
	#loginBox h3 {
		display: none;
	}
	#loginBox {
		position: absolute;
		right: 30px;
		background: #eee;
		padding: 20px;
		margin-top: -15px;
		border-radius: 3px;
		border-top-right-radius: 0;
		width: 230px;
	}

	/** Dashboard **/
	.task .details {
		position: absolute;
		top: 7px;
		right: 10px;
		font-size: 16px;
	}
}

/* Landscape tablets and desktops in small windows */
/* Two-column design, use floats */
@media screen and (min-width: 980px) {
	.site-container {
		width: 920px;
		position: relative;
	}
	.content > div {
		position: relative;
	}
	.primary {
		width: 600px;
	}
	.secondary {
		width: 260px;
		margin: 0 0 0 20px;
	}
	.secondary input {
		width: 236px;
	}
	#loginBox {
		width: 230px;
	}
}

/* Full-screen desktops and other large-format media */
@media (min-width: 1200px) {
	.site-container {
		width: 1140px;
		position: relative;
	}
	.content > div {
		position: relative;
	}
	.primary {
		width: 820px;
	}
	.secondary {
		width: 260px;
		margin: 0 0 0 20px;
	}
	.secondary input {
		width: 236px;
	}
	#loginBox {
		width: 230px;
	}
}