body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.35;
	background: #f6f6f6;
}

/** Base Layout **/
.site-container {
	margin-left: auto;
	margin-right: auto;
}
.site-footer {
	clear: both;
}

/** Header **/
.site-header {
	float: left;
	width: 100%;
	padding: 15px 0;
	color: #999;
	font-size: 15px;
}
.site-header h1 {
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: inherit;
	text-transform: uppercase;
	color: #333;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #eee;
	line-height: 2;
}
.site-header p {
	margin: 0;
	float: left;
	font-family: 'Source Sans Pro Light';
	font-size: inherit;
	line-height: 2;
}
.site-header ul {
	margin: 0;
}

.site-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dashboard-link {
	padding-top: 20px;
}
.site-nav li,
.site-nav .dashboard-link {
	list-style: none;
	float: left;
	width: 100%;
	margin-top: 7px;
}
.site-nav li a,
.site-nav .dashboard-link a {
	display: block;
	float: left;
	padding: 5px 20px 5px 10px;
	color: #666;
	text-decoration: none;
	font-size: 16px;
	transition: background .3s;
}
.site-nav li a:hover {
	background: #eee;
	transition: background .2s;
}
.site-nav li.active a {
	background: rgba(0, 0, 0, 0.7);
	color: white;
}
.search-box {
	float: left;
	width: 100%;
	padding-left: 10px;
	padding-top: 7px;
}

/* Dashboard */
.task {
	padding: 7px 0;
	position: relative;
	margin-bottom: 5px;
}
.task:nth-child(odd) {
	background: #f6f6f6;
}
.task:hover {
	background: #eee;
}
.task h1 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
}
.task-checkbox {
	vertical-align: middle;
	display: block;
	float: left;
	width: 2em;
	text-align: left;
}
.task-checkbox input {
	margin: 5px 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.task .category {
	display: none;
}
.task p, .task .details div {
	display: inline;
}
.task .details {
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 16px;
	color: #999;
}
.task .detail-label {
	display: none;
}
.task .details .tags {
	margin-left: 10px;
}
.tag {
	font-size: 12px;
	color: #666;
	background: #ccc;
	padding: 2px 4px;
	border-radius: 3px;
}

/** Responsive design **/

/* Handhelds - smartphones */
@media (max-width: 767px) {
}

/* Tablets in portrait */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape tablets and desktops in small windows */
/* Two-column design, use floats */
@media screen and (min-width: 980px) {
	.site-container {
		width: 920px;
		padding: 0 20px;
	}
	.site-header h1 {
		padding-left: 20px;
	}
	.primary {
		float: left;
		width: 80%;
	}
	.dashboard {
		background: white;
		padding: 19px;
	}
	.secondary {
		float: left;
		width: 20%;
	}
}

/* Full-screen desktops and other large-format media */
@media (min-width: 1200px) {

}