<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Validator</servlet-name>
        <servlet-class>Tubes4.Validator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Tubes4.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Tubes4.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Tubes4.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTaskStatus</servlet-name>
        <servlet-class>Tubes4.ChangeTaskStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>Tubes4.DeleteTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCategory</servlet-name>
        <servlet-class>Tubes4.SelectCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>Tubes4.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>Tubes4.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFile</servlet-name>
        <servlet-class>Tubes4.AddFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>Tubes4.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAll</servlet-name>
        <servlet-class>Tubes4.GetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoSearch1</servlet-name>
        <servlet-class>Tubes4.DoSearch1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Task</servlet-name>
        <servlet-class>Tubes4.Task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edittask</servlet-name>
        <servlet-class>Tubes4.edittask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeComment</servlet-name>
        <servlet-class>Tubes4.removeComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validator</servlet-name>
        <url-pattern>/Validator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTaskStatus</servlet-name>
        <url-pattern>/ChangeTaskStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/DeleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCategory</servlet-name>
        <url-pattern>/SelectCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFile</servlet-name>
        <url-pattern>/AddFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAll</servlet-name>
        <url-pattern>/GetAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoSearch1</servlet-name>
        <url-pattern>/DoSearch1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Task</servlet-name>
        <url-pattern>/Task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edittask</servlet-name>
        <url-pattern>/edittask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeComment</servlet-name>
        <url-pattern>/removeComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
