@charset "utf-8";
/* CSS Document */

html {
	height:100%;
}

/*------------------------------------PAGE HEADER------------------------------------*/
body {
	margin:0 0 auto 0;
	height:100%;
	/*background:#0F0;*/
}
#header{
	position:fixed;
	left:0;
	top:0;
	min-width:100%;
        /*ganti jadi max-height*/
	height:10%;
	background:#F90;
	z-index:1;
	border: solid 1px #123;
}
#logo{
	height:80%;
	margin-left:1%;
}
#dashboardLink {
	position:relative;
	bottom:30%;
	left:1%;
	width:5%;
	text-transform:uppercase;
	text-decoration:overline;
}
a,a:visited {
	cursor:crosshair;
	color:#000;
	text-decoration:none;
	border:none;
}
#searchForm{
	float:right;
	position:relative;
	right:51%;
	top:25%;
	width:20%;
        
	/*Transistion Effect*/
	transition: width 2s;
	-moz-transition: width 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition: width 2s, -webkit-transition 2s; /* Safari and Chrome */
	-o-transition: width 2s; /* Opera */
}
#searchForm:hover {
	width:35%;
}
#filter {
    position: relative;
    width: 10%;
    left: 37.1%;
    bottom: 40%;
    color: #666666;
}
#submitForm {
	position:relative;
	left:37%;
	bottom:40%;
        border-style: none;
	background: rgb(116,227,230);
	width: 5%;
	height: 20px;
	font-family: monospace;
	border: solid 1px #789;
}
#submitForm:hover {
    background: #ffffff;
    cursor: pointer;
}
#profile {
	position:relative;
	left:57%;
	height:80%;
	padding-top:0.5%;
	border-radius:15px;
}
#logout {
	position:relative;
	left:58%;
	bottom:30%;
	text-transform:uppercase;
	text-decoration:overline;
}
div.suggest{
	position: fixed;
	left:30%;
	top: 6.5%;
	width:30%;
}

/*------------------------------------LOGIN SECTION------------------------------------*/
#formContainer {
	/*border:dotted;*/
	height:40%;
	width:50%;
	margin:10% auto 0 auto;
}

#formHeader {
	height:20%;
	background:#999;
}


/*------------------------------------HALAMAN PROFIL------------------------------------*/
#spasi {
	height:10%;
}

#photoSpace {
	float:left;
	width:20%;
	height:50%;
	/*background:#F00;*/
	margin-left:10%;
}

#userPhoto {
	width:70%;
	margin:5% auto 0 auto;
}

#user {
	width:100%;
	box-shadow: 10px 10px 10px #333;
	border-radius:10px;
}

#userData {
/*gimana caranya menjadi min-height*/
	float:left;
	height:45%;
	width:50%;
	/*background: rgb(182,182,182);*/
	/*border: dashed;*/
}

#biodataTitle {
	text-align:right;
	margin-right:10%;
}

#biodataContent {
	min-height:70%;
	width:80%;
	margin-left:10%;
        background: #ccffcc;
/*	border:dashed;*/
}
div.bioLeft {
	float: left;
	height: 20px;
	width: 50%;
	margin-bottom: 3%;
	margin-top: 1%;
}
div.bioLeft p {
	margin-left: 0;
	margin-top: 0;
	margin-right: 10%;
	text-align: right;
}
div.bioRight {
	float: left;
	height: 20px;
	width: 50%;
	margin-bottom: 3%;
	margin-top: 1%;
}
div.bioRight p {
	margin-left: 0;
	margin-top: 0;
}
div.tableElmtLeft {
	float: left;
	height: 20px;
	width: 50%;
	margin-top: 1%;
}
div.tableElmtLeft p {
	margin-left: 0;
	margin-top: 0;
	margin-right: 10%;
	text-align: right;
}
div.tableElmtRight {
	float: left;
	height: 20px;
	width: 48%;
	margin-top: 1%;
}
div.tableElmtRight p {
	margin-left: 0;
	margin-top: 0;
}

#taskTitle {
	text-align:right;
	margin-right:10%;
	margin-top:5%;
	clear: both;
}

#taskContent {
	background: #ccffcc;
	/*border:dotted;*/
	width:40%;
	margin-left:35%;
	min-height:15%;
}

#doneTaskTitle {
	text-align:right;
	margin-right:10%;
	margin-top:5%;
}
#doneTask {
	width:80%;
	/*border:dotted;*/
        background: #ccffcc;
	margin-left:10%;
	min-height:15%;
}
div#biodataContent div.bioRight button#editProfileBtn {
	border-style: none;
	background: rgb(116,227,230);
	width: 30%;
	height: 20px;
	font-family: monospace;
	border: solid 1px #789;
}
div#biodataContent div.bioRight button#editProfileBtn:hover{
	background: #FFF;
	cursor: pointer;
}
div#editForm{
	height: 50%;
	width: 40%;
	position:fixed;
	left: 30%;
	top: 25%;
	background: #FC6;
	border: solid 2px #345;
	visibility: hidden;
}

input.submitBtn{
	width: 50%;
}
button#editProfileBtn{
	width: 80%;
}

/*------------------------------------DASHBOARD------------------------------------*/

#dashboardTitle {
	width:10%;
	height:30%;
	margin:auto;
	line-height:2;
	margin-top:2.5%;
	
	/*Transistion Effect*/
	transition: width 2s;
	-moz-transition: font-size 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s, -webkit-transform 2s; /* Safari and Chrome */
	-o-transition: font-size 2s, -o-transform 2s; /* Opera */
}

#dashboardTitle:hover {
	cursor:none;
	font-size:36px;
	margin-top:1%;
	
	/*tulisan berputar*/
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}

#dashboardTitle > p {
	text-align:center;
}

#staticContainer {
	width:25%;
	height:75%;
	margin-left:5%;
	/*border:dotted;*/
	float:left;
}

#semuaTugas {
	/*margin-top:40%;*/
	margin-bottom:auto;
}

#dynamicContainer {
	width:60%;
	height:70%;
	float:left;
	margin-left:1%;
	position:relative;
}

#kategoriTitle {
	height:15%;
	background: #999;
	border:solid 1px #000;
}

#kategoriTitle > p {
	text-align:right;
	margin-right:10%;
	vertical-align:middle;
	line-height:3;
}

#kategoriContent {
	/*height:80%;*/
	margin-top:5%;
	/*border: groove;*/
}

.kategoriElmt {
	border: solid 2px #789;
	background:#0F3;
}

.kategoriElmt:hover {
	cursor:pointer;
	background: #FFF;
}

.kategoriElmt > p {
	/*background:#9F0;*/
	margin-top:0;
}

.dynamicElmt {
	/*saling bertindihan*/
	position:absolute;
	left:0;
	top:0;
}

#dynamic_1 {
	/*background: #CACACA;*/
	width:100%;
	height:100%;
	z-index:0;
}

#dynamic_2 {
	/*background: #CACACA;*/
	width:100%;
	height:100%;
	z-index:-1;
}

#dynamic_3 {
	/*background: #CACACA;*/
	width:100%;
	height:100%;
	z-index:-2;
}

#dynamic_semuaTugas {
	/*background:#CACACA;*/
	width:100%;
	height:120%;
}

.rincianTitleDiv {
	height:15%;
	width:100%;
	background:#0F0;
}

.rincianTitleDiv > h2 {
	line-height:3;
}

.rincianTitleDivSemua {
	height:10%;
	width:100%;
	background:#3CC;
}

.rincianTitleDivSemua > h2 {
	line-height:3;
}

.rincianText {
	margin:1% auto auto 70%;
}

#addKategori {
	margin-top:15%;
	margin-left:55%;
}

#addKategori > button {
	border-style: none;
	background: rgb(116,227,230);
	width: 30%;
	height: 20px;
	font-family: monospace;
	border: solid 1px #789;
	width:100%;
}

#addKategori > button:hover {
	background:#FFF;
	box-shadow:0 0 8px #FFF;
}

.dyn_elmt {
	height:40%;
	margin-top:3%;
	margin-bottom:3%;
}

#popUp {
	position:fixed;
	top:25%;
	left:30%;
	height:40%;
	width:40%;
	background:#FF0;
	border-radius:5px;
	border: solid 4px #5F5F5F;
	visibility:hidden;
}

#newTugasTitle {
	height:18%;
	background:#FFF;
	position:relative;
	border: solid 1px #5F5F5F;
}

#newTugasTitle > h2 {
	line-height:0.3;
	text-align:center;
}

#newTugasForm {
	height:40%;
	width:100%;
	margin-top:10%;
	margin-left:20%;
}

.Task {
	clear: both;
	float:left;
	margin-top:1%;
}

.TaskContent {
	margin-left:27%;
	margin-top: 1%;
}

#submitNewKategori {
	margin-left:60%;
}

#submitNewKategori > button {
	border-style: none;
	background: rgb(116,227,230);
	width: 30%;
	height: 20px;
	font-family: monospace;
	border: solid 1px #789;
	float: left;
	margin-top: 10%;
	margin-left: -20%;
	margin-right: 25%;
}

#submitNewKategori > button:hover {
	background:#FFF;
	box-shadow:0 0 10px #FFF;
}

div.taskElmtLeft {
	float: left;
	height: 20px;
	width: 48%;
	margin-bottom: 1%;
}
div.taskElmtLeft p {
	margin-right: 5%;
	text-align: right;
}
div.taskElmtRight {
	float: left;
	height: 20px;
	width: 48%;
	margin-bottom: 1%;
}
div.taskElmtRight p {
	margin-left: 0;
}
div.taskElmtRight button.ubahStatusTask {
	margin-top: 4%;
	border-style: none;
	background: rgb(116,227,230);
	width: 30%;
	height: 20px;
	font-family: monospace;
	border: solid 1px #789;
}
div.taskElmtRight button.ubahStatusTask:hover{
	background: #FFF;
	cursor: pointer;
}
div#taskTitle1:hover {
	text-decoration: underline;
	cursor: pointer;
}
button.addTask {
	border-style: none;
	background: rgb(116,227,230);
	width:18%;
	height: 20px;
	font-family: monospace;
	border: solid 1px #789;
	margin-left: 78%;
}
button.addTask:hover{
	background: #FFF;
	cursor: pointer;
}
div#photoUploader{
	margin-top: 10%;
	border: solid 3px #890;
}

/*------------------------------------HALAMAN RINCIAN TUGAS------------------------------------*/
/*#statustask{*/
/*	/*border: dashed;*/*/
/*	float: left;*/
/*}*/