/5-Offline/TodolistServer/nbproject/private/
/5-Offline/TodolistServer/dist/
/5-Offline/TodolistClient/nbproject/private/
/5-Offline/TodolistServer/dist/
/5-Offline/TodolistClient/build/
/5-Offline/TodolistServer/build/