body {
  background: #eaeaea url('iamges/bg.png') repeat-x center;
	font-family: Arial, sans-serif;
	color: #191919;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
a img {
	border: 0;
	padding: 0;
	margin: 0;
}
#wrapper {
	margin: 0 auto;
	width: 980px;
}
#header {
	width: 980px;
	height: 100px;
	margin: 0;
	padding: 10px 0 0 0;
}
#logo {
	float: left;
	width: 300px;
	height: 50px;
	margin: 0 0 0 10px;
	padding: 0;
}
#logo2 {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
}

#signin{
	float: right;
}

#menu {
	float: left;
	width: 375px;
	height: 57px;
	padding: 68px 0 0 15px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	display: inline;
	font-family: Impact, sans-serif;
	font-size: 20px;
	padding: 15px;
}
#menu li a {
	color: #191919;
	text-decoration: none;
}
#menu li a:hover {
	color: #db4444;
}

}
#main {
	clear: both;
	margin: 0;
	padding: 0 0 10px 0;
}
#rincian{
	background-color: #ffffff;
	margin: 0 5px 0 0;
	padding: 0;
	width: 670px;
	float: left;
}
.atas {
	background: #eaeaea url('images/atas.png') no-repeat top center;
	width: 670px;
	height: 10px;
}
.tengah {
	background: #eaeaea url('images/tengah.png') repeat-y top center;
	width: 670px;
	padding: 0;
	margin: 0;
}
.bawah {
	background: #eaeaea url('images/bawah.png') no-repeat top center;
	width: 670px;
	height: 10px;
}
.judul {
	font-family: Impact, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 10px 25px 15px 25px;
}
.isi {/* 640px */
	margin: 0;
	padding: 0 25px 0 25px;
}
.detail {
	margin: 0;
	padding: 0 25px 0 25px;
}
.byon {
	margin: 0;
	padding: 5px 0 5px 0;
	color: #555555;
}
.by {
	color: #db4444;
}
.likedislike {
	margin: -10px 0 30px 0;
	padding: 0;
	float: left;
	width: 108px;
}
.ldbuttons {
	position: relative;
}
.ldbuttons li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
}
.ldbuttons li, .ldbuttons a {
	height: 33px;
	display: block;
}
.like {
	left: 0px;
	width: 70px;
}
.like {
	background: url('images/like.png') 0 0;
}
.like a:hover {
	background: url('images/like.png') 0 -33px;
}
.like a:active {
	background: url('images/like.png') 0 -66px;
}
.dislike {
	left: 70px;
	width: 38px;
}
.dislike {
	background: url('images/like.png') -70px 0;
}
.dislike a:hover {
	background: url('images/like.png') -70px -33px;
}
.dislike a:active {
	background: url('images/like.png') -70px -66px;
}
.count {
	margin: 11px 0 0 10px;
	padding: 0;
	float: left;
	color: #555555;
}
.komen {
	clear: both;
	margin: 0;
	padding: 30px 25px 10px 25px;
}
.komenjudul {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
}

.komen-nama {
	font-weight: bold;
	color: #db4444;
	float: left;
}

.komen-tgl {
	margin: 1px 0 0 5px;
	font-size: 10px;
	color: #999999;
	float: left;
}
.komen-isi {
	padding: 5px 0 0 0;
	clear: both;
}

.iklan {/* 290px */
	margin: 0;
	padding: 0;
	text-align: right;
}
#adsay{
	margin: 0 0 5px 0;
}
#footer {
	margin: 0;
	padding: 10px 0 0 0;
	clear: both;
}

#siteinfo {
	float: left;
	background-color: #eaeaea;
	color: #191919;
	margin: 0;
	padding: 0 0 50px 0;
}
#botlink {
	float: left;
	padding: 6px 0 0 69px;
}
#botlink ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#botlink li {
	display: inline;
	padding: 15px;
}
#botlink li a {
	color: #191919;
	text-decoration: none;
}
#botlink li a:hover {
	color: #db4444;
}
.register-label {
	width: 120px;
	float: left;
	margin: 3px 0 0 0;
}
.register-td {
	float: left;
	margin: 3px 3px 0 3px;
}
.register-input {
	float: left;
	margin: 0 0 5px 0;
}
.register-input-input {
	width: 200px;
}
.clear {
	clear: both;
	height: 1px;
}
.register-submit {
	text-align: left;
	padding: 0 0 100px 300px;
}
.btg-mrh {
	color: #db4444;
}
#btg {
	padding: 0 0 12px 0;
}

.komen-label {
	width: 70px;
	float: left;
	margin: 3px 0 0 0;
}
.komen-tulis {
	width: 100px;
	float: left;
	margin: 3px 0 0 0;
}
.komen-submit {
	text-align: right;
	padding: 10px 335px 20px 0;
}
#komen-btg {
	padding: 0 0 10px 0;
}
/* 325px */
#home-most-liked {
	background-color: #ffffff;
	margin: 0 10px 0 0;
	padding: 0;
	width: 325px;
	float: left;
}
#home-most-commented {
	background-color: #ffffff;
	margin: 0 5px 0 10px;
	padding: 0;
	width: 325px;
	float: left;
}
.home-atas {
	background: #eaeaea url('images/home-atas.png') no-repeat top center;
	width: 325px;
	height: 10px;
}
.home-tengah {
	background: #eaeaea url('images/home-tengah.png') repeat-y top center;
	width: 325px;
	padding: 0;
	margin: 0;
}
.home-bawah {
	background: #eaeaea url('images/home-bawah.png') no-repeat top center;
	width: 325px;
	height: 10px;
	clear: both;
}
#most-liked-judul {
	text-align: center;
	font-family: Impact, sans-serif;
	font-size: 20px;
}
#most-commented-judul {
	text-align: center;
	font-family: Impact, sans-serif;
	font-size: 20px;
}
.home-detail {
	margin: 0;
	padding: 0 25px 15px 25px;
}
.home-judul {
	font-family: Impact, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0 25px 5px 25px;
}
.commenter {
	margin: 0;
	padding: 0 0 5px 0;
	color: #555555;
}
#konten-komentar {
	margin: 0;
	padding: 5px 0 0 0;
	color: #555555;
}
.home-judul a {
	color: #191919;
	text-decoration: none;
}
.home-judul a:hover {
	color: #db4444;
}
.judul a {
	color: #191919;
	text-decoration: none;
}
.judul a:hover {
	color: #db4444;
}
.rincian-clear {
	clear: both;
	height: 15px;
}
.rincian-bawah {
	background: #eaeaea url('images/bawah.png') no-repeat top center;
	width: 670px;
	height: 10px;
	padding: 0 0 20px 0;
}
#artikel {
	display: none;
}
#gambar {
	display: none;
}
