@charset "UTF-8";
/* CSS Document */

body {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:#CCC;
}

.header {
	background-color:#201B1B;
}

.content {
	width:auto;
	height:350px;
	background-color:#FFF;
}

.navigation {
	background-color:#111111;
	font-family:Tahoma;
	margin-top: 1px;
	padding: 3px 3px;
	height:26px;
}

.navigation li {
	display:inline-block;
	margin:5px;
}

.navigation a {
	color:#aaaaaa;
	text-decoration:none;
	font-size:0.8em;
	padding:10px 15px;
	margin:40px;
	text-align:center;
}

.navigation a:hover{
	background-color:#666;
	color:#aaaaaa;
}

.footer {
	background-color:#201B1B;
	margin-top:1px;
	color:#aaaaaa;
	padding:20px;
	text-align:center;
	font-size:0.75em;
	font-family:Tahoma;
}
	
.kategori {
	background-color:#201B1B;
	float:left;
	width:150px;
	height:305px;
	color:#aaaaaa;
	padding:20px;
	font-size:0.8em;
	font-family:Tahoma;
}

.Login {
	background-color:#201B1B;
	text-align:center;
	color:#aaaaaa;
	font-size:0.8em;
	font-family:Tahoma;
	
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.Login input[type="text"]:hover {
	border-color: #555 #888 #888;
}

.Login input[type="password"]:hover {
	border-color: #555 #888 #888;
}

.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}

.panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#join_pop:hover {
    border-color: #eee;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #000;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color:#CCC;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color:#FFF;
    content: "x";
    font-size: 20px;
    text-shadow: 0 -1px #999;
}
.close:hover {
    background-color:#333;
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}

.requirement {
	font-family:Tahoma;
	font-style:italic;
	font-size:0.6em;
	color:#73796e;
}

.iinfo {
	/*position:absolute;*/
	padding-right:70;
	font-size:0.8em;
	text-align:right;
	float:right;
}

.valid {
	border:1px solid #b4c66e;
	background-color:#cef436;
	padding:4px;
	color:#4f6300;
}

.error {
	border:1px solid #ff877e;
	background-color:#fe6f64;
	padding:4px;
	color:#8f1209;
}