body {
background-repeat:no-repeat;
background-position:top center;
width:100%;
font-family: 'segoe ui';
background-color: #ffffd6;
position:absolute;
}

*:focus{outline: none;}
#add{
float: left;
margin: 10px 0 10px 200px;
width: 70px;
}
#cancel{
margin: 10px 10px 0 0;
}

/* Pop Up Tambah Kategori */
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color:#FC0;
    border:5px solid #000000;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 2;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.popup input[type="text"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
	height: 15px;
	width: 200px;
	padding: 5px 8px;
	margin-left: 15px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.popup input[type="text"]:hover {
    border-color: #555 #888 #888;
}
.popup ul{
	padding:10px 10px 10px 10px;
	display: table-cell;
	vertical-align: middle;
	list-style-type: none;
}
.popup li{
	list-style-type: none;
	position: relative;
	color: black;
	padding: 20px 10px 20px;
}
.popup label{
	width: 130px;
	display: inline-block;
	float: left;
	font-size: 16px;
	font-family: 'segoe ui';
	padding: 3px;
}

.popup button{
	float: right;
	height: 30px;
	margin: 0;
	border-color: #351b02;
	background-color: #351b02;
	color: white;
	font-family: 'segoe ui';
	font-size: 18px;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.popup button:hover{
	background-color: #fcff00;
	color: #351b02;
}

/*--------- index ---------*/
#indexheader {
width: 1200px;
height: 125px;
background-color: #351b02;
margin:auto;
padding: 0 0 0 0;
}

#indexheader img {
width: 200px;
height: 125px;
float: left;
margin-left: 175px;
background-color: #feff95;
}

#loginform{
float: right;
margin-right: 50px;
}

.login ul {
width: 620px;
list-style-type: none;
list-style-position: outside;
margin: 0px;
padding-top: 12px;
padding-bottom: 12px;
}

.login li {
padding: 12px 12px 12px 0;
position: relative;
float: left;
color: white;
}

.login h1{
margin: 0;
display: inline;
width: 750px;
color: white;
float: left;
}

.loginbutton {
border-radius: 5px;
border-color: #351b02;
background-color: #feff95;
color: black;
font-family: 'segoe ui';
font-size: 15px;
height: 35px;
}
.loginbutton:active{
background-color: #fbdb00;
color: black;
}
.loginbox{
height: 20px;
width: 150px;
padding: 5px 8px;
border-radius: 5px;
}

#register{
width: 1200px;
background-color: #feff95;
margin: auto;
margin-bottom:0;
padding-bottom: 0;
overflow: hidden;
}

.reg ul {
width: 550px;
float: right;
list-style-type: none;
list-style-position: outside;
margin: 40px 0 40px 0;
padding: 12px;
}

.reg li {
padding: 12px 12px 12px 0;
list-style-type: none;
position: relative;
color: black;
}

.reg h1{
margin: 0;
display: inline;
color: black;
}

.reg label{
width: 150px;
margin-top: 3px;
display: inline-block;
float: left;
padding: 3px;
}

.reg input{
height: 15px;
width: 220px;
padding: 5px 8px;
border-radius: 5px;
}

.reg button {
margin-left: 156px;
height: 30px;
border-radius: 5px;
border-color: #351b02;
background-color: #351b02;
color: white;
font-family: 'segoe ui';
font-size: 15px;
}
.reg button:hover:enabled  {
background-color: #fcff00;
color: #351b02;

}

.reg input[type=file]{
height: 30px;
font-family: 'segoe ui';
font-size: 14px;
padding: 5px 0;
}
.reg select{
height: 30px;
padding: 0;
margin-right: 8px;
font-family: 'segoe ui';
border-radius: 5px;
border-color: grey;
}

.reg span{
font-family: 'segoe ui';
font-size: 10px;
clear: both;
}

#featuresbar {
width: 1200px;
display: block;
height: 300px;
margin: auto;
margin-top: 0;
padding-top: 0;
background-color: #351b02;
}

#features{
width: 800px;
list-style: none;
margin: auto;
display: block;
}

#features li {
float: left;
width: 300px;
margin: 30px 30px 12px;
text-align: left;
padding-left: 12px;
font-size: 20px;
list-style:none;
display: block;
background-color: yellow;
border-radius: 8px;
}

#features b{
color: #351b02;
display: block;
padding: 12px;
font-family: 'Segoe UI';
font-size: 28px;
background-color: #fe9227;
border-radius: 8px;
}

/*---------- halaman home --------*/
#content {
width:1200px;
margin:auto;
}

#header {
height:99px;
margin-bottom: 50px;
}

#logo img {
width: 200px;
height: 120px;
float: left;
margin-top: 15px;
}

#menu {
display:block;
float: left;
width: 1000px;
}

#menu ul {
margin-left:-35px;
margin-top:40px;
list-style:none;
font-size:20px;
}

#menu ul li {
float:left;
text-align:center;
font-family:'segoe ui';
height: 60px;
background-color:#351b02;
}

#menu form {
margin:0; /*top right bottom left*/
overflow:hidden;
padding:15px 0 0 115px; /*top rightleft bottom*/
background-color:#351b02;
height: 45px;
float: right;
width: 454px;
}
#menu form select{
height:30px;
}

#menu .box {
background:url('./image/searchbox.jpg') no-repeat;
width: 150px;
height: 30px;
border: 0;
padding-left: 10px;
margin-right: 12px;
font-family: 'segoe ui';
color: grey;
}

#searchbutton {
background:url('./image/search_button.jpg') no-repeat;
width: 80px;
height: 30px;
border: 0;
margin-right: 12px;
float: right;
}

#searchbutton:hover {
background:url('./image/search_click.jpg') no-repeat;
width: 80px;
height: 30px;
border: 0;
margin-right: 12px;
}

#menu ul li a {
padding:16px;
color:white;
text-decoration:none;
background-color:#351b02;
display:block;
width:110px;
float: left;
}

#menu ul li a:hover {
background-color:#fcff00;
color: #351b02;
}

a.header {
text-decoration:none;
font-size:90px;
color:#3E3A3A;
font-weight:bold;
}

/* -------------------------- profile ----------------------*/
.prof ul {
width: 550px;
float: left;
list-style-type: none;
list-style-position: outside;
margin: 40px 0 40px 0;
padding: 12px;
}

.prof li {
padding: 12px 12px 12px 0;
list-style-type: none;
color: white;
}

.prof h1{
margin: 0;
display: inline;
color: #fe9227;
}

.prof label{
color: #fcff00;
font-size: 18px;
}

.prof p{
width: 500px;
margin-top: 0;
border-radius: 5px;
color: white;
font-size: 24px;
}

.prof button{
height: 35px;
border-radius: 5px;
border-color: #351b02;
background-color: #fcff00;
color: black;
padding: 5px;
font-family: 'segoe ui';
font-size: 15px;
width:50px;
}

.prof button:hover{
background-color: #feff95;
}

/* -------------------------- isi ------------------------*/
#isi {
width: 1200px;
margin: auto;
}

#leftsidebar {
width: 300px;
float: left;
}

#leftsidebar ul {
margin-left:-40px;
margin-bottom: 0;
list-style:none;
font-size:18px;
}

#leftsidebar ul li {
text-align:left;
font-family:'segoe ui';
background-color:#fe9227;
cursor: pointer;
}

#leftsidebar ul li a {
color:black;
text-decoration:none;
background-color:#fcff00;
display:block;
height: 30px;
width:268px;
padding: 16px;
}
#leftsidebar ul li a:link{
background-color:#fcff00;
width: 268px;
}
#leftsidebar ul li a:visited{
background-color:#fcff00;
width: 260px;
}
#leftsidebar ul li a:hover {
background-color:#feff95;
width: 260px;
}
#leftsidebar b{
color: #351b02;
display: block;
font-family: 'Segoe UI';
font-size: 24px;
background-color: #fcff00;
margin-top: 18px;
padding: 40px;
width: 220px;
}
#leftsidebar img{
margin-top: 0;
padding: 0;
}
#leftsidebar img.foto{
width: 220px;
height: 230px;
margin-top:18px;
padding: 40px;
background-color: #fcff00;
}

div#leftsidebaredit {
height:458px; 
width: 300px;
float: left;
margin-top:18px;
background-color:#fcff00;
}

#addcateg {
text-decoration:none;
font-size: 16px;
font-family: 'segoe ui';
background-color: #fcff00;
display: block;
padding: 12px 0 12px 70px;
margin: 0;
color: #351b02;
cursor: pointer;
}
#addcateg:hover{
color: #fe9227;
}
#rightsidebar, #rightsidebar1  {
width: 900px;
float: left;
margin-top:18px;
background-color: #351b02;
padding-top: 30px;
padding-bottom: 30px;
overflow: auto;
}

#kegiatan {
display: block;
list-style: none;
width: 880px;
margin: 0 0 18px 10px;
padding: 0;
overflow: auto;
}
#kegiatan li {
	background-color: #feff95;
	border:5px solid #000000;
	padding: 10px;
	font-family: 'Segoe UI';
	font-size: 18px;
	font-weight: bolder;
	vertical-align: middle;
	color: #351b02;
	margin: 10px 10px 10px 10px;
	width: 830px;
	float: left;
	text-decoration: none;
}

#kegiatan .list {
	background-color: #feff95;
	display: block;
	padding: 12px;
	font-family: 'Segoe UI';
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	color: #351b02;
	margin: 0 20px 0 0;
	width: 350px;
	height: 75px;
	float: left;
	text-decoration: none;
	border-bottom-color: #fe9227;
	border-bottom-width: 5px;
	border-bottom-style: solid;

}

#kegiatan li .status {
	font-size: 14px;
}

#kegiatan li form label {
	width: 80px;
	float: left;
}

#kegiatan li a .hapus {
	background-color: red;
	width: 35px;
	height: 10px;
	float: right;
	text-decoration: none;
	position: relative;
	margin-top: -95px;
}

.user {

display: block;
list-style: none;
width: 880px;
margin: 0 0 18px 10px;
padding: 0;
}
.user li {

float: left;
width: 800px;
margin: 30px 20px 12px;
text-align: left;
list-style:none;
display: block;
}
.user b.design1  {
color: #351b02;
display: block;
padding: 12px;
font-family: 'Segoe UI';
font-size: 24px;
background-color: #fe9227;
margin: 0;
width: 776px;
}
.user b.design2 a{

color: #351b02;
display: block;
padding: 6px 10px 7px 0;
font-family: 'Segoe UI';
font-size: 32px;
background-color: #fe9227;
margin: 0;
float: right;
text-decoration: none;
}
.user a.list  {
background-color: #feff95;
display: block;
padding: 12px;
font-family: 'Segoe UI';
font-size: 18px;
color: #351b02;
margin: 0 20px 0 0;
width: 595px;
float: left;
text-decoration: none;
border-bottom-color: #fe9227;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.user input{

margin: 20px 20px 0 20px;
float: left;
}
.user p{

color: #351b02;
background-color: #feff95;
padding: 12px;
margin: 0;
font-family: 'Segoe UI';
font-size: 18px;
border-bottom-color: #fe9227;
border-bottom-width: 1px;
border-bottom-style: solid;
}

.user a, .user a:visited

{
	position:relative;
	z-index: 0;
}

.user a span

{
	display: none;
	z-index: 0;
	
}

.user a:hover span

{
	display: block;
	position: absolute;
	top: 0px;
	left: 120px;
	width: auto;
	margin: 0px;
	padding: 10px;
	color: #335500;
	font-size: 12px;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
	z-index: 0;
}

/* taskdetails.html */
#edit, #commentbutton
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	width: 100px;
	border: 4px inset;
	border-radius: 4px;
	border-color: #FC3;

	background-image: -linear-gradient(bottom, rgb(255,238,153) 12%, rgb(232,203,14) 56%);
	background-image: -o-linear-gradient(bottom, rgb(255,238,153) 12%, rgb(232,203,14) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(255,238,153) 12%, rgb(232,203,14) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,238,153) 12%, rgb(232,203,14) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(255,238,153) 12%, rgb(232,203,14) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(255,238,153)),
		color-stop(0.56, rgb(232,203,14))
	);
}

#edit:hover, #commentbutton:hover
{
	background-image: -linear-gradient(bottom, rgb(232,203,14) 12%, rgb(255,238,153) 56%);
	background-image: -o-linear-gradient(bottom, rgb(232,203,14) 12%, rgb(255,238,153) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(232,203,14) 12%, rgb(255,238,153) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(232,203,14) 12%, rgb(255,238,153) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(232,203,14) 12%, rgb(255,238,153) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(232,203,14)),
		color-stop(0.56, rgb(255,238,153))
	);
}

#commentbox
{
	margin-top:20px;
	min-width: 400px;
	max-width: 400px;
	min-height: 250px;
	max-height: 250px;
	width: 400px;
	height: 250px;
	border: 5px ridge;
	background-color:#feff95;
	font-family:'segoe ui';
	padding:10px;
}
#commentfield
{
margin-top:20px;
margin-right: 20px;
height: 15px;
width: 290px;
padding: 5px 8px;
border-radius: 5px;
}
#commentbutton
{
	min-height:30px;
	min-width: 100px;
	margin-left: 15px;
}

/* maketask.html */


#customdate
{
	display:none;
	float:left;
}
.button
{
	float:left;
}

#wrapper
{
	width: 1160px;
	height: 800px;
	margin: auto;
	padding: 20px;
	background-color: pink;
}

#wrapper-left
{
	float: left;
	width: 500px;
	margin-left: 40px;
	display: inline;
}

#wrapper-left ul {
	margin: 0 0 0 0;
}

#wrapper-right
{
	width: 350px;
	float: right;
	margin-top: 20px;
}
#linkoflink{
color: white;
text-decoration: none;
font-size: 20px;
font-family: 'segoe ui';
}
#linkoflink:hover{
color: #fcff00;
text-decoration: none;
font-size: 20px;
font-family: 'segoe ui';
}
#suatu_gambar
{
	display: none;
	width: 300px;
	height: 275px;
	padding-top: 50px;
}
#suatu_video
{
	width:300px;
	height:220px;
	display: none;
	padding-top: 50px;
}
.task ul {
width: 400px;
float: left;
list-style-type: none;
list-style-position: outside;
margin: 40px 0 0 0;
padding: 12px;
}

.task li {
padding: 12px 0 12px 0;
list-style-type: none;
position: relative;
color: #fcff00;
}

.task h1{
margin: 0;
display: inline;
color: #fe9227;
}

.task label{
width: 150px;
margin-top: 3px;
display: inline-block;
float: left;
padding: 3px;
}

.task input{
height: 15px;
width: 200px;
padding: 5px 8px;
border-radius: 5px;
}

.task button{
margin-left: 0px;
margin-top: 20px;
height: 30px;
border-radius: 5px;
border-color: black;
background-color: #fe9227;
color: #351b02;
font-family: 'segoe ui';
font-size: 15px;
}
.task button:hover{
background-color: #feff95;
}
.task input[type=file]{
height: 30px;
font-family: 'segoe ui';
font-size: 14px;
padding: 5px 0;
}
.task select{
height: 25px;
padding: 0;
margin-right: 8px;
font-family: 'segoe ui';
border-radius: 5px;
border-color: grey;
}
.task span{
font-family: 'segoe ui';
font-size: 12px;
clear: both;
}
/*-------------- FOOTER --------------*/
#footer {
background: #351b02;	
margin: auto;
margin-top: 20px;
width: 1200px;
padding: 0;
text-align: center;
color: white;	
}

#footer.home{
float: left;
}

#footer p {
color: #c1c1c1;
font-size: 14px;	
padding: 10px 0 10px 0;
text-align: center;
}

#editprofile{
width: 1200px;
margin: auto;
}
.rightsidebaredit label{
width: 150px;
margin-top: 3px;
display: inline-block;
float: left;
padding: 3px;
}
#leftsidebaredit {
width: 300px;
float: left;
height:300px;
}
.suggest_link_over{
cursor:pointer;
background: purple;
}
.suggestBox{
position:float;
max-width:150;
z-index:1;
padding:5px;
border: 1px solid #000000;
overflow:auto;
max-height:15;
background-color:blue;
}
.hidden{
display:none;
}
#profPic{
float:left;
margin-right:10px;
height:35px;
width:35px;
}
.profPic1{
float:left;
margin-right:10px;
height:35px;
width:35px;
}
.text{
margin-top:3px;


padding: 3px;
}
.task a{
	padding: 12px 0 12px 0;
color: #fcff00;
}
.task a:hover {
color: #fe9227;
}