/*
Tubes 1 Progin
Penggunaan HTML, CSS, dan Javascript
*/

body
{
	position:relative;
	min-height:100%;
	min-width:800px;
	height : auto;
	width:800px;
	margin:auto;
	background: -moz-linear-gradient(top, rgb(239,228,171), rgb(255,255,255));
	background: -ms-linear-gradient(top, rgb(239,228,171), rgb(255,255,255));
	background: -o-linear-gradient(top, rgb(239,228,171), rgb(255,255,255));
	background: -webkit-linear-gradient(top, rgb(239,228,171), rgb(255,255,255));
	background: linear-gradient(top,rgb(239,228,171), rgb(255,255,255));
	background-repeat:no-repeat;
}

br
{
	opacity:0;
}

.content
{
	margin:0px;
	padding:0px;
	box-shadow: 10px 10px 5px #888888;
}

/* Header */

.header
{
	box-shadow: 10px 10px 5px #888888;
}

.htext {
	width:800px;
	color: rgb(114,47,47);
	/*3d*/
	/*
	text-shadow: 0px 1px 0px rgb(164,67,67), 0px 2px 0px rgb(144,60,60), 0px 3px 0px rgb(124,43,43), 0px 4px 0px rgb(104,35,35), 0px 5px 0px rgb(84,27,27), 0px 6px 0px rgb(64,20,20), 0px 7px 0px rgb(44,10,10), 0px 8px 7px rgb(0,0,0);
	*/
	text-align:center;
	font-size:80px;
	opacity: 0.5;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

.hbackground{
	width:auto;
	height : 120px;
	background: -moz-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: -ms-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: -o-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: -webkit-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
}

.hlogo a
{
	float: left;
	margin-left:10px;
	margin-top:10px;
	width:100px;
	height:100px;
	background-image:url('image/logo.png');
	background-repeat:no-repeat;
	text-indent:-999999em;
	display:block;
	clear:none;
}

.hmenus a
{
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
	display:inline-block;
	width:100px;
	text-align:center;
	text-decoration:none;
}

.hmenus
{
	position:absolute;
	width:50%;
	font-size:20px;
	float:left;
}

.hmenus a:hover
{
	color:brown;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.hmtext
{
	color: rgb(189,178,101);
	font-family:'LeagueGothicRegular'
}

.hbar
{
	width:auto;
	height:25px;
	background-color:rgb(239,228,171);
	border:1px solid #d3d3d3;
}

.hmsearch
{
	width:50%;
	float:right;
	word-spacing:6px;
	color:#888888;
	padding-top:1px;
	padding-right:10px;
	white-space:nowrap;
	text-align:right;
}

.htagline
{
	text-align:center;
	text-shadow: 0px 1px 1px rgb(244,90,90);
    color: rgb(170,85,40);

}

/* Footer */
.footer
{
	width:auto;
	height : auto;
	margin-bottom:10px;
	background: -moz-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: -ms-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: -o-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: -webkit-linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	background: linear-gradient(top, rgb(170,85,40), rgb(255,140,60));
	box-shadow: 10px 10px 5px #888888;
}

.ftext
{
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.5);
	text-align:center;
}


/* Hal Utama */

.loginBD
{
	width:auto;
	height:auto;
	background-color:rgb(254,240,200);
	border:1px solid #d3d3d3;
	text-align:center;
	margin:0;
	padding:0;
}

.lText
{
	color: rgb(189,178,101);
	font-family:'Sans Serif';
	padding-right:20px;
	float:Left;
	text-align:Right;
	width : 375px;
}

.lForm
{
	color: rgb(189,178,101);
	font-family:'Sans Serif';
	float:Left;
	text-align:Left;
	width :375px;
}

.lForm input
{
	background: rgb(255,255,255);
	width : 100px;
	-o-transition:width 1s;
	-ms-transition:width 1s;
	-moz-transition:width 1s;
	-webkit-transition:width 1s;
	transition:width 1s;
}

.lForm input:not([type=submit]):focus
{
    width: 200px;
	background: rgb(254,230,200);
}

.lSubmit
{
	width:100px;
	color: rgb(114,67,67);
	text-shadow: 0 1px 1px rgb(254,240,200);
	background: rgb(189,178,101);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-transform: uppercase;
	visibility: visible;
	opacity:1;
}

.lSubmit a
{
    color: rgb(114,67,67);
    display: block;
    text-decoration: none;
    text-shadow: 0 1px 1px rgb(254,240,200);
}

.lSubmit:hover
{
	background: rgb(230,180,60);
	cursor: pointer;
}

/*Slide*/

.pss_main {
    height:600px;
    position:relative;
    width:100%;
}
.pss_main input {
    display:none;
}
.pss_contr {
    background:url('image/left.png') no-repeat center center;
    cursor:pointer;
    display:none;
    height:50px;
    left:5%;
    opacity:0.3;
    position:absolute;
    top:5%;
    width:50px;
    z-index:2;

    /* css3 transition */
    -webkit-transition:opacity linear 0.3s;
    -moz-transition:opacity linear 0.3s;
    -o-transition:opacity linear 0.3s;
    -ms-transition:opacity linear 0.3s;
    transition:opacity linear 0.3s;
    border-radius:50% 50% 50% 50%;
}

.pss_contr:hover {
    opacity:1;
}

.sel_page_1:checked ~ .pss_contr.c2, .sel_page_2:checked ~ .pss_contr.c3, .sel_page_3:checked ~ .pss_contr.c4 {
    background-image:url('image/right.png');
    display:block;
    Left:85%;
}

.sel_page_2:checked ~ .pss_contr.c1, .sel_page_3:checked ~ .pss_contr.c2, .sel_page_4:checked ~ .pss_contr.c3  {
    background-image:url('image/left.png');
    display:block;
}


.pss_slides {
	height:100%;
    Width:auto;
    overflow:hidden;
    position:relative;
}

.pss_background {
    background:url('image/Background.jpg') no-repeat scroll 0 0;
    height:100%;
    left:0;
	overflow:hidden;
    position:absolute;
    top:0;
    width:100%;

    /* css3 background-size */
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    background-size:cover;
}

.pss_main input:checked ~ .pss_slides {
    /* css3 transition */
    -webkit-transition:all linear 1.0s;
    -moz-transition:all linear 1.0s;
    -o-transition:all linear 1.0s;
    -ms-transition:all linear 1.0s;
    transition:all linear 1.0s;
}

.sel_page_1:checked ~ .pss_slides {
    background-color:#CCCCCC;
}

.sel_page_2:checked ~ .pss_slides {
    background-color:#003366;
}

.sel_page_3:checked ~ .pss_slides {
    background-color:#FFFFFF;
}

.sel_page_4:checked ~ .pss_slides {
    background-color:#CCCC99;
}

.pss_main input:checked ~ .pss_slides .pss_background {
    /* css3 transition */
    -webkit-transition:all linear 1.5s;
    -moz-transition:all linear 1.5s;
    -o-transition:all linear 1.5s;
    -ms-transition:all linear 1.5s;
    transition:all linear 1.5s;
}

.sel_page_1:checked ~ .pss_slides .pss_background {
    background-position:-0px 0;
}

.sel_page_2:checked ~ .pss_slides .pss_background {
    background-position:-50px 0px;
}

.sel_page_3:checked ~ .pss_slides .pss_background {
    background-position:-100px 0px;
}

.sel_page_4:checked ~ .pss_slides .pss_background {
    background-position:-150px 0px;
}

.pss_slides ul {
	margin:0px;
	padding:0px;
	height:100%;
	width:400%;
	font-size:0;
	white-space:nowrap;
    list-style:none;
    position:relative;
	top:0;
	display:inline-block;

    /* css3 transition */
    -webkit-transition:Left ease-in 1.0s;
    -moz-transition:Left ease-in 1.0s;
    -o-transition:Left ease-in 1.0s;
    -ms-transition:Left ease-in 1.0s;
    transition:Left ease-in 1.0s;
}
.pss_slides ul  li {
	width:auto;
	height:100%;
    opacity:0.1;
    position:relative;
    text-align:center;
	display:inline-block;

    /* css3 transition */
    -webkit-transition:opacity ease-in 1.0s;
    -moz-transition:opacity ease-in 1.0s;
    -o-transition:opacity ease-in 1.0s;
    -ms-transition:opacity ease-in 1.0s;
    transition:opacity ease-in 1.0s;
}

.sel_page_1:checked ~ .pss_slides ul li:first-child,
.sel_page_2:checked ~ .pss_slides ul li:nth-child(2),
.sel_page_3:checked ~ .pss_slides ul li:nth-child(3),
.sel_page_4:checked ~ .pss_slides ul li:nth-child(4) {
    opacity:1;
}

.pss_slides ul li img{
	width:auto;
}

.pss_slides ul li div{
	float:Left;
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:26px;
    left:30%;
    padding:20px;
    position:absolute;
    top:-20%;
    width:200px;
	display:inline-block;

    /* css3 transition */
    -webkit-transition:top ease-in 1.0s;
    -moz-transition:top ease-in 1.0s;
    -o-transition:top ease-in 1.0s;
    -ms-transition:top ease-in 1.0s;
    transition:top ease-in 1.0s;
}
.sel_page_1:checked ~ .pss_slides ul {
    Left:0;
}
.sel_page_2:checked ~ .pss_slides ul {
    Left:-100%;
}
.sel_page_3:checked ~ .pss_slides ul {
    Left:-200%;
}
.sel_page_4:checked ~ .pss_slides ul {
    Left:-300%;
}
.sel_page_1:checked ~ .pss_slides ul li:first-child div,
.sel_page_2:checked ~ .pss_slides ul li:nth-child(2) div,
.sel_page_3:checked ~ .pss_slides ul li:nth-child(3) div,
.sel_page_4:checked ~ .pss_slides ul li:nth-child(4) div {
    top:10%;
}

/*Pop Up*/
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: rgb(114,67,67);
	color: rgb(180,180,60);
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
	width:500px;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;


}

.close {
    background-color: rgb(84,48,48);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover {
    background-color: rgba(224, 128, 128, 0.8);
}

.popup p, .popup div {
    margin-bottom: 10px;
}

.popup label {
    display: inline-block;
    text-align: left;
    width: 180px;
}

.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;
	width:200px;
	
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	
	-webkit-transition: width  .5s;
    -moz-transition: width  .5s;
    -ms-transition: width  .5s;
    -o-transition: width  .5s;
    transition: width  .5s;
	
}

.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}

.popup input[type="text"]:focus, .popup input[type="password"]:focus {
    border-color: rgb(255,255,0);
	width:250px;
}

.popupbutton
{
    visibility: hidden;
	opacity = 0.1;
}
.listUL{
	list-style-type: none;
}
.listLI{
	width: 50%;
	float:left;
}
.inputText{
	width:238px;	
}
.rincianKiri{
	width:15%;	
	float:left;
}
.rincianKanan{
	width:85%;	
	float:left;
}