/* 
    Document   : css
    Created on : Feb 18, 2013, 5:32:48 PM
    Author     : frilla, timo, stefan
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-image: url('img/Dashboard_bg.jpg');
    font-family: cambria;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 10px;
    height: 35px;
    position: absolute;
    background-color: #000000;
}

header a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

input.liusername{
    color: white;
}

#logo-small {
    position: absolute;
    left: 10px;
    height: 40px;
    top: 0px;
}

#foto {
    position: absolute;
    top: 50px;
    width: 20%;
}

#profile {
    position: absolute;
    left: 950px;
}
#dashboard {
    position: absolute;
    left: 1070px;
}
#logout {
    position: absolute;
    left: 1200px;
}
#search {
    position: absolute;
    left: 90px;
}

#box {
	width: 120px;
}

.overlay
{
   background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}


.listTugas {
    width: 170px;
    height: 205px;
    float: left;
    background-image: url('img/tugas.png');
    background-repeat: no-repeat
}

.listTugas:hover {
    width: 170px;
    height: 205px;
    float: left;
    background-image: url('img/tugasHover.png');
}

.addTask {
    width: 160px;
    height: 191px;
    float: left;
    background-image: url('img/addtask.png');
}

.button {
    height: 20px;
    padding: 10px;
    color: white;
    opacity: 0.6;
    background-color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-indent: 40%;
}

.kategori {
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-bottom: 15px;
	opacity: 0.8;
}

.kategori:hover {
    opacity: 1;
}

#editProfile {
	width: 100px;
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-bottom: 15px;
	color : white;
	font-size: 16pt;
	position : absolute;
	left : 0px;
	bottom : 0px;
	opacity: 0.8;
}

#editProfile:hover{
	opacity: 1;
}

#category {
    top: 45px;
    left: 0;
    padding-top: 100px;
    padding-left: 35px;
    width: 250px;
    height: 100%;
    position: absolute;
    background-image: url('img/bg.jpg');
    overflow: auto;
    color: white;
    font-size: 16pt;
}

.tugas {
    font-size: 12pt;
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    visibility: hidden;
    left: 700px;
    padding: 50px;
    margin-left: 100px;
    overflow: hidden;
    background-image: url('img/kertas.png');
    width: 350px;
    height: 443px;
}

#nama {
    font-size: 14pt;
    font-style: italic;
}

.attachment {
    font-style: italic;
    color: #5c3e19;
    padding: 10px;
}

.tag {
    font-size: 8pt;
    color: #5c3e19;
    text-decoration: none;
}

.asignee {
    font-size: 12pt;
    text-decoration: none;
    font-weight: bold;
    color: #5c3e19;
}

textArea {
    height: 70px;
    width: 350px;
}

#wanted{
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    left: 220px;
    margin-left: 100px;
    width: 350px;
    height: 443px;
    visibility: hidden;
}

#overlay {
    background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: fixed; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}

#add {
  position: absolute;
  z-index: 1000;
  left: 380px;
  top: 200px;
  display: none;
  color: white;
  font-weight: bold;
  background-color: #261d12;
  padding: 70px;
  width: 300px;
  height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#edit {
  position: absolute;
  z-index: 1000;
  left: 380px;
  top: 200px;
  display: none;
  color: white;
  font-weight: bold;
  background-color: #261d12;
  padding: 70px;
  width: 300px;
  height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.list{
    font-size: 12pt;
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    visibility: hidden;
    left: 250px;
    padding: 0px;
    margin-left: 100px;
    overflow: auto;
    width: 850px;
    height: 603px;
    visibility: hidden;
}

#listtugas {
    visibility: visible;
}

#addCat {
    font-size: 20pt;
    color: white;
    background-color: black;
    width: 250px;
    bottom: 0px;
    left: 0px;
    height: 50px;
    padding-top: 5px;
    position: absolute;
    padding-left: 35px;
}


/*
 * index related
 */
#header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    height: 80px;
    position: fixed;
    background-color: #000000;
    box-shadow: 0px 5px 30px #000000;
}
#logo {
    position: fixed;
    left: 40px;
    top: 10px;
}
#logo-big{
    position: fixed;
    left: 20px;
    top: 100px;
    width: 50%;
    heigth: 50%;
}
#login{
    position: fixed;
    top: 20px;
    left: 50%;
    color:white;
    font-family: Cambria, Georgia, serif;
}
#register {
    position:fixed;
    top: 30%;
    left: 60%;
    line-height: 200%;
    font-family: Cambria, Georgia, serif;
}

#editProfileForm {
    position:fixed;
    top: 38%;
    left: 35%;
    line-height: 200%;
    font-family: Cambria, Georgia, serif;
}

#register b {
    font-size: 20pt;
    padding-bottom: 20%;
}
#inputregister {
    position: fixed;
    top: 35.5%;
    left: 73%;
    line-height: 200%;
}

#inputEditProfile {
    position: fixed;
    top: 38%;
    left: 48%;
    line-height: 200%;
}

#regfile{
    font-family: Cambria, Georgia, serif;
}

input{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#feature{
    position:fixed;
    top: 30%;
    left: 20%;
}

.logbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:black;
        font-weight:bold;
	font-family:Cambria, Georgia, serif;;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.logbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.logbutton:active {
	position:relative;
	top:1px;
}

#regbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Cambria, Georgia, serif;;
	font-size:15px;
	font-weight:normal;
	padding:2px 132px;
	text-decoration:none;
        text-shadow:1px 1px 0px #ffffff;
}#regbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}#regbutton:active {
	position:relative;
	top:1px;
}
#regdate{
    min: "1955-12-31";
}
#fpbackground{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5000;
}
#fpposter{
    position: fixed;
    width:450px;
    height:600px;
    top:12%;
    left:55%;
    z-index: -4000;
}
#fplogo{
    position: fixed;
    width:40%;
    top:15%;
    left:6%;
    z-index: -3000;
}

/*
 * profile related
 */
#donelist{
    position: fixed;
    left: 65%;
    top: 12%;
    box-shadow: 0px 5px 30px #000000;
    background-image: url('img/donelist.png');
    padding: 40px;
    padding-top: 160px;
    width: 340px;
    height: 360px;
    text-decoration:line-through
}
#todolist{
    position: fixed;
    left: 28%;
    top: 12%;
    box-shadow: 0px 5px 30px #000000;
    padding: 40px;
    padding-top: 160px;
    width: 340px;
    height: 360px;
    background-image: url('img/todolist.png');
}
#panel {
    top: 45px;
    left: 0;
    padding-top: 100px;
    padding-left: 35px;
    height: 560px;
    width: 250px;
    position: absolute;
    background-image: url('img/bg.jpg');
    overflow: hidden;
    color: white;
    font-size: 16pt;
    box-shadow: 0px 5px 30px #000000;
    z-index: -10;
}
#bioleft{
    position: fixed;
    left: 1%;
    top: 55%;
    color: white;
    font-size: 10pt;
}
#bioright{
    position: fixed;
    left: 8%;
    top: 55%;
    color: white;
    font-size: 10pt;
}
#biousername{
    font-weight: bold;
    font-size: 30pt;
    position: fixed;
    top: 48%;
    color: white;
}
#profpic{
    position: fixed;
    top: 8%;
    width:250px;
}
#badge{
    position: fixed;
    top: 28%;
    left: 10%;
    width: 150px; 
}