<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>org.progin.todo.Auth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/core/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Assign</servlet-name>
        <servlet-class>org.progin.todo.Assign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Assign</servlet-name>
        <url-pattern>/core/assign</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CountComment</servlet-name>
        <servlet-class>org.progin.todo.CountComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountComment</servlet-name>
        <url-pattern>/core/countComment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>org.progin.todo.DeleteCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/core/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>org.progin.todo.DeleteComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/core/deleteComment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>org.progin.todo.DeleteTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/core/deleteTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCategory</servlet-name>
        <servlet-class>org.progin.todo.GetCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCategory</servlet-name>
        <url-pattern>/core/getCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetComment</servlet-name>
        <servlet-class>org.progin.todo.GetComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetComment</servlet-name>
        <url-pattern>/core/getComment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTask</servlet-name>
        <servlet-class>org.progin.todo.GetTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTask</servlet-name>
        <url-pattern>/core/getTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NegateTask</servlet-name>
        <servlet-class>org.progin.todo.NegateTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NegateTask</servlet-name>
        <url-pattern>/core/negateTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>org.progin.todo.PostComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/core/postComment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.progin.todo.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/core/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>org.progin.todo.UpdateProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/core/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>org.progin.todo.UpdateTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/core/updateTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
