html {width:100%; height:100%; overflow-x:hidden; font-family:Segoe UI light;}
body {width:100%; height:300px; display:block; margin:0px;background-image:url('../img/bg.jpg');}

/* HEADER SECTION 
------------------------------------------------------------------------------------------- */
header {
	width:100%;
	height:90px;
	background-color:#35283C;
	display:block;
}
.header_menu a {
	color:white;
	text-decoration:none;
	}

textarea {
	font-family:Segoe UI light;
}

#header_container {
	width:80%; 
	height:100%; 
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#login_form_container {
	position:relative;
	background-color:#35283C;
	float:right;
	width:87%;
	height:130px;
	margin-right:5%;
	z-index:100;
}
#login_form {
	font-family:Segoe UI light;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	z-index:200;
}
#login_form label {
	color:#fff;
	float:left;
	width:35%;
	margin-left:3px;
}
#login_form input {
	color:gray;
	float:left;
	margin-left:7px;
	width:55%;
}
input#remember_me {
	margin-top:20px;float:left;
	width:auto;
}
label#remember_me {
	float:left; font-size:12px; width:auto; margin-top:20px; 
}
.header_menu a {
	color:white;
	text-decoration:none;
}
.header_menu {
	float:right; margin-top:30px;height:60%; width:45%;
	
}
.header_menu_button {
	padding-top:8px; padding-bottom:8px; 
	width:28%; display:block;color:white;
	margin-left:20px;margin-top:8px; text-align:center; 
	font-size:18px; cursor:pointer; float:left;
	-webkit-transition: opacity 0.7s linear;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
.header_menu_button:hover , .header_menu_button:active {
	background-color:#6FBEC6;text-decoration:none;
	-webkit-transition: opacity 0.7s linear;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}

.header_menu_button:hover{background-color:#ff5645;}

.current_header_menu {
	background-color:#6FBEC6;
}
#search_box {
	float:left; margin-left:50px; height:25px; margin-top:45px; width:20%;
}
/* LOGO 
----------------------------------------------------------------------------------------------------------------- */
#fleur {
	font-size:100px;
	color:#FF5544;
	display:inline-block;
}
#textdesu{
	color:#fff;
	display:inline-block;
	font-size:60px;
	letter-spacing:-6px;
	font-family:Trajan Pro;
	margin-left:-10px;
}
#tagline {
	font-family:Times New Roman;
	font-size:12px;
	letter-spacing:2px;
	font-style:italic;
	margin-top:-20px;
	margin-left:15px;
	color:#fff;
}

/* SECTION 
--------------------------------------------------------------------------------------------------------------------- */
section {width:80%;background-color:#F9F9F9; height:630px; margin-left:auto; margin-right:auto; margin-top:40px; margin-bottom:40px; z-index:1;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
	box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);
}

#index_left {
	height:100%;
	width:65%;
	background-color:#f9f9f9;
	float:left;
}
#index_right {
	height:100%;
	width:35%;
	float:left;
	padding-top:40px;
}
.signup_label {
	width:65%;
	background-color:#FF5544; color:#fff; padding-left:25px; padding-right:25px; padding-top:8px; padding-bottom:8px; 
	border:none;
	-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
	box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);
	margin-left:auto;margin-right:auto; letter-spacing:1px;
	text-align:center;
	font-size:25px;
	font-family:Segoe UI light;
	font-weight:bold;
	margin-top:170px;
}
#signup_form_container {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	background-color:#EBEBE9;
	color:gray;
	padding-top:20px;
	height:310px;
	display:block;
}
#signup_form {
	width:90%;
	margin-top:20px;
	margin-left:20px;
}
#signup_form label {
	float:left;
	font-size:16px;
	font-family:Segoe UI light;
	color:gray;
	width:35%;
}
#signup_form input {
	float:left;
	height:20px;
	font-size:20px;
	width:60%;
	margin-bottom:10px;
}
input#avatar_upload {font-size:12px;}

/* FOOTER SECTION
--------------------------------------------------------------------------------------------------------------------- */
#footer_container {
	width:80%; 
	height:100%; 
	margin-left:auto;
	margin-right:auto;
	display:block;
	color:#fff;
}

footer {
	width:100%; 
	background-color:#35283C;
	height:80px; 
	display:block;
	bottom:0px;
}

/* NAVIGATION BAR
--------------------------------------------------------------------------------------------------------------------- */
#navbar {
	margin-left:auto;
	display:block;
	height:100%;
	width:25%;
	float:left;
}
#short_profile {
	margin-top:30px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	height:200px;
}
#profile_picture {
	width:100px;
	float:left;
}
#profile_info {
	margin-left:20px;
	float:left;
	color:gray;
	font-size:14px;
	color:gray;
}
#profile_pic_upload {
	clear:both;
	margin-top:20px;
}
#category_list {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
#category_list a {
	color:#fff;
	text-decoration:none;
}
#category_list ul  {
	list-style-image:url('../img/arrow.png');
	padding-top:5px;
	margin-left:-10px;
}
#category_list ul li {
	cursor:pointer;
	padding-bottom:5px;
}
#category_list ul li:hover {
	color:#6FBEC6;
}
#add_new_category {
	color:gray;
	cursor:pointer;
}
#add_new_category:hover {
	color:#FF5544;
}
#category_form {
	width:100%;
	height:180px;
	background-color:#6FBEC6;
	margin-top:5px;
	color:#fff;
	padding-top:15px;
	display:none;
}
#category_form_inner {
	width:90%;
	height:90%;
	margin:auto;
}
#category_form_inner input {
	width:95%;
}
#category_item {
	margin-top:5px;
}
#current_category {
	color:#6FBEC6;
}

#add_category {
	font-size:11px; 
	cursor:pointer;
}
#add_category:hover {
	color:gray;
}
#add_category_button {
	width:40px;
	text-align:center;
}
#category_title {
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}

/* TASK DETAIL
--------------------------------------------------------------------------------------------------------------------- */
#comment_textarea {
	width:60%;
	height:100px;
	resize:none;
}

#save_button_td {
	display:none;
	border-style:solid;
	border-color:#007bc1;
	margin-left:5%;
	width:80px;
	text-align:center;
	font-size: 15px;
	padding-top:5px; 
	padding-bottom:5px;
}
#task_attachment:hover {
	color:#ff5544;
}

#save_button_td:hover {
	border-color:#0092dd;
}

#edit_task_button, #save_edit_task {
	display:block;
	border-style:solid;
	border-color:#007bc1;
	margin-left:5%;
	width:80px;
	text-align:center;
	font-size: 15px;
	padding-top:5px; 
	padding-bottom:5px;
}

#edit_task_button:hover {
	border-color:#0092dd;
}

#taskdetail_image {
	height:100%;
	width:auto;
}	



/* STYLING 
--------------------------------------------------------------------------------------------------------------------- */
.bold {font-weight:bold;}
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
.top10 {margin-top:10px;}
.top45 {margin-top:45px;}
.top30 {margin-top:30px;}
.line10 {line-height:50%;}
a {text-decoration:none;}
#logout {color:#fff;}

.thin_line {display:block;height:8px;margin-left:0px;width:100%;background-color:#524459;}

.link_blue {background-color:#007bc1; color:#fff; padding-left:10px; padding-right:10px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);
}
.link_blue:hover{background-color:#0092dd;text-decoration:none;}

.link_blue_rect {
	background-color:#007bc1;
	color:#fff;
	cursor:pointer;
}
.link_blue_rect:hover{
	background-color:#0092dd;
}

.link_lightblue {background-color:#6FBEC6; color:#fff; padding-left:25px; padding-right:25px; padding-top:15px; padding-bottom:15px; 
text-decoration:none;border:none; 
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17); 
font-family:Segoe UI light; margin-left:auto; margin-right:auto;
font-weight:bold; letter-spacing:1px; cursor:pointer;
font-size:20px;
}
.link_lightblue:hover{background-color:#9ad2d8;text-decoration:none;}

.link_red {background-color:#FF5544; color:#fff; padding-left:25px; padding-right:25px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);
margin-left:auto;margin-right:auto; letter-spacing:1px; cursor:pointer; margin-right:10px;
}
.link_red:hover{background-color:#ff786b;text-decoration:none;}

.link_tosca {background-color:#A8DBC6; color:#fff; padding-left:25px; padding-right:25px; padding-top:8px; padding-bottom:8px; 
text-decoration:none;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;border:none;
-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);
margin-left:auto;margin-right:auto; letter-spacing:1px; cursor:pointer; margin-right:10px;
}
.link_tosca:hover{background-color:#bae4d3;text-decoration:none;}


/* DYNAMIC CONTENT 
------------------------------------------------------------------------------------------------- */
#dynamic_content {
	border-left: 2px solid gray;
	display:block;
	width:73%;
	height:100%;
	float:right;
	overflow:auto;
	color:#55565B;
}
.dynamic_content_head {
	display:block;
	height:30px;
	padding-left:2%;
	width:75%;
	font-weight:bold;
}

.dynamic_content_row {
	display:block;
	width:100%;
}

.dynamic_content_left {
	display:block;
	width:18%;
	height:100%;
	padding-left:2%;
	font-weight:bold;
}

.dynamic_content_right {
	display:block;
	width:76%;
	height:100%;
	padding-left:2%;
	padding-right:2%;
	text-align:justify;
	text-justify:inter-word;
}
.task_view_category {
	float:right;
	margin-right:20px;
	color:red;
}
.task_view {
	width:90%;
	display:block;
	background-color:white;
	opacity:0.8;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	color:gray;
	margin:auto;
	-webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.17);
	box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.17);
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
.task_view a:hover {
	color:#ff5544;
}