<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Kategori</servlet-name>
        <servlet-class>Servlets.Kategori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Task</servlet-name>
        <servlet-class>Servlets.Task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login2</servlet-name>
        <servlet-class>Servlets.login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validasiRegist</servlet-name>
        <servlet-class>Servlets.validasiRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLocal</servlet-name>
        <servlet-class>Servlets.getLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_process</servlet-name>
        <servlet-class>Servlets.signup_process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editprofile</servlet-name>
        <servlet-class>Servlets.editprofile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kategori</servlet-name>
        <url-pattern>/Kategori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Task</servlet-name>
        <url-pattern>/Task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login2</servlet-name>
        <url-pattern>/login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validasiRegist</servlet-name>
        <url-pattern>/validasiRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLocal</servlet-name>
        <url-pattern>/getLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_process</servlet-name>
        <url-pattern>/signup_process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editprofile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
