<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Kategori</servlet-name>
        <servlet-class>Servlets.Kategori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Task</servlet-name>
        <servlet-class>Servlets.Task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kategori</servlet-name>
        <url-pattern>/Kategori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Task</servlet-name>
        <url-pattern>/Task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
