#category{
	height:572px;
	width:350px;
	float:left;
	border-right: 2px solid #d9d9d9;
	
}

#category_head{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;
	font:normal 30px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.category_block{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	height:50px;
	box-shadow: 1px 1px 1px #535353;
	border: #d9d9d9 solid 7px;
	background-color:#dfdfdf;
}
.category_block:hover{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	height:50px;
	box-shadow: 1px 1px 1px #535353;
	border: #836fff solid 7px;
	background-color:#dfdfdf;
}

.category_pic{
	width:50px;
	float:left;
}

.category_name{
	width:270px;
	float: right;
	font:normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:10px;
}


#task{
	height:572px;
	width:992px;
	float:left;
}

.category_name a{
	color:#000;
	text-decoration:none;
}

#task_header{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:40px;
	font:normal 30px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#tambah_task{
	border: dashed 2px #e2e2e2;
	box-shadow: 0px 0px 0px #535353;
}

#tambah_task:hover{
	border: dashed 2px #836fff;
	box-shadow: 0px 0px 0px #535353;
}

.task_block p{
	font:normal 25px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-bottom:5px;
	text-align: center;
}

.task_block{
	width:95%;
	border: solid 1px #e2e2e2;
	margin-left: 20px;
	margin-bottom:10px;
	box-shadow: 1px 1px 1px #535353;
}

.task_judul{
	margin-top:5px;
	margin-left: 10px;
	width:100%;
	font:normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.task_deadline{
	margin-left:10px;
	margin-bottom:5px;
	color:red;
	width:30%;
	float:left;
	font:normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.task_tag{
	margin-left:10px;
	margin-bottom:5px;
	width:70%;
	font:normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}
.panel a#tambah_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
	width:30%;
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}

.selected{
margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	height:50px;
	box-shadow: 1px 1px 1px #535353;
	background-color:#dfdfdf;
	border: #836fff solid 7px;
}

.form_baris{
	width: 100%;
	margin-top: 10px;
}

.form_kiri{
	float:left;
	width:50%;
}

.form_kanan{
	float:left;
	width:50%;
}

.form_kanan input{
	width:98%;
}

#fs{
	margin-top:10px;
	float:left;
	width:100%;
}

#button_buat_kategori{
	margin-top:10px;
}

.gambar_kecil{
	float:left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: solid #606060 1px;
}
