*:not(ul,input,button) {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

img {
    border: 0px;
}

.page {
    width: 100%;
    min-width: 1017px;
}

.page .content {
    width: 960px;
    margin: 0px auto;
}

nav {
    clear: both;
    width: 960px;
    display: block;
    background-color: #5fae53;
}
nav .logo {
    width: 190px;
    display: inline-block;
    padding: 20px 10px 5px 40px;
}
nav .logo img {
    margin-bottom: -10px;
}
nav ul {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    list-style-type:none;
    display: inline;
}
nav ul li {
    display: inline-block;
    border-right: 1px solid #336c2b;
    border-left: 1px solid #78c368;
}
nav ul li a:link, nav ul li a:visited {
    display: inline-block;
    font-weight:bold;
    width: 100px;
    padding: 30px 10px 30px 10px;
    color:#FFFFFF;
    text-align: center;
    text-decoration: none;
    font: Arial;
}
.search {
    display: inline-block;
    float: right;
    padding-top: 21px;
    padding-right: 25px;
    border: 0px;
}
#searchwrapper {
    width:300px;
    height:40px;
    background-color: white;
    padding:0px;
    margin:0px;
    position:relative; 
}
#searchwrapper form { 
    display: inline; 
    padding-left: 15px;
}
#searchwrapper input.searchbox {
    border:0px;
    background-color:transparent;
    position:absolute;
    top:4px;
    left:9px;
    width:250px;
    height:32px;
}
#searchwrapper input.searchbox:active {
    border:0px;
} 
.searchbox_submit {
    border:0px;
    background-color:transparent;
    position:absolute;
    top:4px;
    left:265px;
    width:32px;
    height:32px;
}
button.search {
    display: inline-block;
    padding: 0;
	margin-top: -4px;
	margin-left: -10px;
    border: none;
}

.sidebar {
    width: 180px;
    float: left;
    margin: 0;
    padding: 0;
}
.sidebar ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul.nav li {
    list-style: none;
    border: 0px;
    text-align: left;
    margin: 0;
}
.sidebar ul.nav li a {
    display: block;
    text-decoration: none;
    border-right: solid 3px #5fae53;
    padding: 5px 12px 5px 3px;
    color: #000;
}
.sidebar ul.nav li a:link, .sidebar ul.nav li a:visited {
    color: #000;
}
.sidebar ul.nav li a:hover, .sidebar ul.nav li a:active {
    border-right: solid 12px #5fae53;
    color: #5fae53;
}
.sidebar ul.nav li a:hover {
    background-color: #fff;
}
.main {
    width: 780px;
    float: left;
    margin: 0;
}
.inlineblock {
    display: inline-block;
}
h1 {
    color: #5fae53;
    padding: 5px 12px 12px 12px;
    margin: 0;
}
h2 {
    background-color: #5fae53;
    color: #fff;
    padding: 8px 12px 4px 12px;
    margin: 3px 0 3px 0;
}

button, .button {
    display: inline-block;
    background-color: #78c368;
    padding: 3px 6px;
    font: 80%;
    margin: 0;
    color: #fff;
    border: #499b3d 2px solid;
}

button:active, button:hover, .button:active, .button:hover {
    color: #499b3d;
    cursor: pointer;
}

.tugas {
    padding: 12px;
    margin: 12px;
    border: #5fae53 dashed 2px;
    font-size: 80%;
    background-color: #e8f3df;
}
.tugas a {
    color: #5fae53;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}
.tugas a:hover, .tugas a:active {
    color: #499b3d;
}
ul.tag {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.tag li {
    list-style: none;
    border: 0px;
    text-align: left;
    margin: 0;
    padding: 3px;
    background-color: #78c368;
    color: #336c2b;
    font-weight: bold;
    display: inline-block;
    font-size: 70%;
}
ul.tag li a {
    display: block;
    text-decoration: none;
    border-right: solid 3px #5fae53;
    padding: 5px 12px 5px 3px;
    color: #000;
}
#blanket {
    background-color: #111;
    opacity: 0.65;
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}
#popUpDiv {
    position: absolute;
    width: 600px;
    height: 300px;
    z-index: 9002;
    border: 5px #5fae53 solid;
    background-color: #fff;
    box-shadow: 0px 0px 20px #000;
    display: none;
    overflow-x: scroll;
}
.rightalign {
    text-align: right;
}
.padding12px {
    padding: 0 12px;
    margin: 0px;
}
footer.content {
    clear: both;
    background-color: #5fae53;
    width: 960px;
    height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 70%;
    padding-top: 30px;
    top: 15px;
}

.profile {
    background-color: #e8f3df;
    border: #5fae53 dashed 2px;
    padding: 12px;
    margin: 12px;
}
.profiledetail {
    position: absolute;
    top:165px;
    width:500px;
    display: inline-block;
}

.profiledetail a {
    color: #5fae53;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}
.profilepict {
    position: relative;
    width: 200px;
    height: 200px;
    left: 700px;
    border: #5fae53 solid;
}

.edit_button {
    position: relative;
    top: 75px;
}

.page .content .formtugas {
    background-color: #e8f3df;
    border: #5fae53 dashed 2px;
    padding: 12px;
    margin: 12px;
}
.rincianLabel {
    width: 15%;
    display: inline-block;
    vertical-align: text-top;
}
.rincianDetail {
    width: 85%;
    display: inline-block;
    vertical-align: text-top;
}

/* CSS untuk halaman create tugas */
.main .formtugas {
    background-color: #e8f3df;
    border: #5fae53 dashed 2px;
    padding: 12px;
    margin: 12px;
}


.formtugas ul.item {
    display: inline;
    list-style-type: none;
    margin:0;
}

.formtugas ul.item li {
    list-style: none;
    padding: 3px;
}

/* CSS untuk halaman profile */

.rincianLabelProfile {
    width: 25%;
	float: left;
    display: inline-block;
    vertical-align: text-top;
}

.rincianDetailProfile {
    width: 75%;
    display: inline-block;
    vertical-align: text-top;
}