#container {
	
	width: 100%;
	
	margin: 0;
}
#header{
    height:50px;
	width:100%;
	float:left;
	background-image: url('../../images/black_header.png');
	background-repeat: repeat-x;
}
#logo{
	margin-left:5px;
    height:50px;
	width:150px;
	float:left;
}
#space{
	height:50px;
	width:150px;
	float:left;
}
#search{
    height:50px;
	width:500px;
	float:left;
}
#searchbox{
	height:30px;
	width:400px;
	margin-top:10px;
}
#searchbutton{
	height:30px;
	width:30px;
	position:absolute;
	left:670px;
	top:13px;
	background: transparent url(../../images/search.png) no-repeat;
	overflow: hidden;
	border:0;
}
#home{
    height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	text-align:center;
}
#home:hover{
	height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	background-color:#000;
	text-align:center;
}
#profile{
    height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	text-align:center;
}
#profile:hover{
	height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	background-color:#000;
	text-align:center;
}
#logout{
    height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	text-align:center;
}
#logout:hover{
	height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	background-color:#000;
	text-align:center;
}

body {
	margin: 0px;
}
.menu a {
	padding:15px 35px;
	color:#000;
	text-decoration:none;
}
.menu a:hover {
	color:#FFF;
	text-decoration:none;
}
