@media screen and (min-width: 1000px){
#container {
	width: 100%;
	height: 100%;
	background-image:url(../../images/paper.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
}

#header{
    height:50px;
	width:100%;
	
	background-image: url('../../images/black_header.png');
	background-repeat: repeat-x;
}
#logo{
	margin-left:5px;
	width:150px;
	float:left;
}
#space{
	float:left;
	width:400px;
}

.login_form{
	color:#ffffff;
	margin-top:15px;
	margin-right:15px;
	float:right;
}

body {
	margin: 0px;
}
.menu a {
	padding:15px 35px;
	color:#000;
	text-decoration:none;
}
.menu a:hover {
	color:#FFF;
	text-decoration:none;
}

#left_tab{
	margin-top:50px;
	margin-left:50px;
	width:700px;
	float:left;
}

#register_tab{
	margin-top:50px;
	margin-left:50px;
	float:left;
	width:520px;
}

.form_field{

}

.field_kiri{
	font: arial;
	font-size:18px;
	margin-bottom:10px;
	width:50%;
	float:left;
}

.field_kanan{
	margin-bottom:10px;
	width:50%;
	float:left;
}

.field_kanan input{
	width:100%;
}

.field_kanan select{
	width:33%;
}


}

@media screen and (min-width: 240px){
#container {
	width: 100%;
	height: 100%;
	margin: 0;
}

#header{
    height:50px;
	width:100%;
	
	background-image: url('../../images/black_header.png');
	background-repeat: repeat-x;
}
#logo{
	margin-left:5px;
	width:150px;
	float:left;
}
#space{
	float:left;
	width:400px;
}

.login_form{
	color:#ffffff;
	margin-top:15px;
	margin-right:15px;
	float:right;
}

body {
	margin: 0px;
}
.menu a {
	padding:15px 35px;
	color:#000;
	text-decoration:none;
}
.menu a:hover {
	color:#FFF;
	text-decoration:none;
}

#left_tab{
	margin-top:50px;
	margin-left:50px;
	width:700px;
	float:left;
}

#register_tab{
	margin-top:50px;
	margin-left:50px;
	float:left;
	width:520px;
}

.form_field{

}

.field_kiri{
	font: arial;
	font-size:18px;
	margin-bottom:10px;
	width:50%;
	float:left;
}

.field_kanan{
	margin-bottom:10px;
	width:50%;
	float:left;
}

.field_kanan input{
	width:100%;
}

.field_kanan select{
	width:33%;
}
}
