#container {
	height: 647px;
	width: 1347px;
	background-image:url(../../images/paper.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
}
#homeheader{
    height:0px;
	width:0px;
	float:left;
}
#logo{
    height:100px;
	width:675px;
	float:left;
	padding-left:25px;
}
#login{
    height:100px;
	width:647px;
	float:left;
}
#explainer{
    height:547px;
	width:700px;
	float:left;
}
#register{
    height:497px;
	width:597px;
	float:left;
	padding-top:50px;
	padding-left:50px;
}
body {
	margin: 0px;
}
