/* 
    Document   : mediaqueries
    Created on : Feb 21, 2013, 2:01:50 PM
    Author     : Abraham Krisnanda S
    Description:
        Purpose of the stylesheet follows.
*/

/* tampilan untuk portrait ipad */
@media screen and (max-width: 768px) {
    .page {
        min-width: 524px;
    }
    
    .page div.content {
        width : 524px;
        margin: auto;
    }
    
    .page .content {
        margin: 0px auto;
        width: 524px;
    }
    
    nav {
        width: 100%;
        min-width:524px;
    }
    
    nav .logo {
        width: 192px;
        display: inline-block;
        padding: 20px 10px 5px 10px;
    }
    
    nav ul li a:link, nav ul li a:visited {
        padding: 30px 0px;
    }
    
    .search {
        padding : 21px 0px 21px 0px;
        background-color: #5fae53;
        width: 524px;
    }
    
    #searchwrapper {
        width: 500px;
        margin-left: 12px;
        margin-right: 12px;
    }
    #searchwrapper input.searchbox {
        width: 350px;
    }
    #searchwrapper select.type {
        display: inline-block; 
        border: 0px;
        background-color:transparent;
        width: 85px;
        vertical-align: middle;
    }
    .searchbox_submit {
        display: inline-block; 
        border: 0px;
        background-color:transparent;
    }
    button.btnsearch {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        border: none;
        background: transparent;
    }
    .welcomebar {
        background-color: #e8f3df;
        padding: 90px 24px 12px 24px;
    }

    .sidebar {
        width: 524px;
    }
    
    .main {
        width: 524px;
    }
    
    footer.content {
        width : 524px;
        padding-top: 30px;
    }
    
    .profile {
        height: 400px;
    }
    
    .profiledetail {
        top: 540px;
    }
    
    .profilepict {
        left: 0px;
        top: 0px;
    }
    
    .edit_button {
        top: 12px;
    }
    
        /*index.html*/
    #slogan {
        width: 280px;
        padding-left: 0px;
    }
    
    #loginwrapper form #login_username, #loginwrapper form #login_password {
    	display: inline-block;
    	color: #FFFFFF;
    	font-size: 70%;
        padding-bottom: 7px;
    }
    
    #leftcolumn {
        width: 524px;
    }
    
    #rightcolumn {
    	display: inline-block;
    	width: 524px;
    	margin: 0px auto;
    }
    
    #registerwrapper {
        text-align: center;
        width: 524px;
        margin: 0px auto;
    }
    
    #slider img {
        width: 524px;
    }
}

@media screen and (max-width:320px) {
    .page {
        min-width: 240px;
    }
    
    .page div.content {
        width : 240px;
        margin: auto;
    }
    
    .page .content {
        margin: 0px auto;
        width: 240px;
    }
    
    nav {
        width: 100%;
        min-width:240px;
    }
    
    nav .logo {
        width: 240px;
        display: inline-block;
        padding: 20px 0px 10px;
        text-align: center;
    }
    
    nav ul li a:link, nav ul li a:visited {
        padding: 0px;
        width: 238px;
        margin: 0px;
    }
    
    .search {
        padding : 10px 0px;
        background-color: #5fae53;
        width: 240px;
        float:none;
    }
    
    #searchwrapper {
        width: 216px;
        margin-left: 12px;
        margin-right: 12px;
    }
    
    #searchwrapper input.searchbox {
        width: 150px;
    }
    
    .searchbox_submit {
        left:180px;
    }
    
    .sidebar {
        width: 240px;
    }
    
    .welcomebar {
        background-color: #e8f3df;
        padding: 12px 24px 12px 24px;
    }

    .main {
        width: 240px;
    }
    
    footer.content {
        width : 240px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    .profile {
        height: 400px;
    }
    
    .profiledetail {
        top: 560px;
        font-size: 80%;
        width: 200px;        
    }
    
    .profilepict {
        left: -10px;
        top: -10px;
    }
    
    .edit_button {
        top: 12px;
    }
    
        /*index.html*/
    #slogan {
        width: 280px;
        padding-left: 0px;
    }
    
    #loginwrapper form #login_username, #loginwrapper form #login_password {
	display: inline-block;
	color: #FFFFFF;
	font-size: 70%;
        padding-bottom: 7px;
    }
    
    #leftcolumn {
        width: 524px;
    }
    
    #rightcolumn {
	display: inline-block;
	width: 524px;
	margin: 0px auto;
    }
    
    #registerwrapper {
        text-align: center;
        width: 524px;
        margin: 0px auto;
    }
    
    #slider img {
        width: 524px;
    }
    .rincianLabel {
        display: block;
        vertical-align: text-top;
    }
    .rincianDetail {
        display: block;
        vertical-align: text-top;
    }
}