#CurPwd, #oldpassEditLabel, #oldpassEditDetail, #usernameDisplayDiv, #nameEditDiv, #assigneeEditDiv, #birthEditDiv, #passEditLabel, #repassEditLabel, #repassEditDetail , #changeAvatarLabel, #changeAvatarDetail, #doneButton{
    display: none;
}
#nameDisplayDiv, #tagsDisplayDiv, #birthDisplayDiv, #editButton {
    display: block;
}

#passEditDetail {
	display: none;
	float: left;
}