#container {
	
	width: 100%;
	
	margin: 0;
}
#header{
    height:50px;
	width:100%;
	float:left;
	background-image: url('../../images/black_header.png');
	background-repeat: repeat-x;
}
#logo{
    height:50px;
	width:150px;
	float:left;
}
#space{
	height:50px;
	width:150px;
	float:left;
}
#search{
    height:50px;
	width:500px;
	float:left;
}
#searchbox{
	height:30px;
	width:400px;
	margin-top:10px;
}
#searchbutton{
	height:30px;
	width:30px;
	position:absolute;
	left:670px;
	top:13px;
	background: transparent url(../../images/search.png) no-repeat;
	overflow: hidden;
	border:0;
}
#home{
    height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	text-align:center;
}
#home:hover{
	height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	background-color:#000;
	text-align:center;
}
#profile{
    height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	text-align:center;
}
#profile:hover{
	height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	background-color:#000;
	text-align:center;
}
#logout{
    height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	text-align:center;
}
#logout:hover{
	height:50px;
	width:150px;
	float:right;
	color:#ffffff;
	font:15px andy,sans-serif;
	font-size:180%;
	line-height: 2em;
	background-color:#000;
	text-align:center;
}
#leftspace{
	height:100%;
	width:200px;
	float:left;
	border-right:1px solid gray;
}
#viewtask{
	height:100%;
	width:747px;
	float:left;
	margin-left: 1%;
}
#rightspace{
	height:100%;
	width:300px;
	float:right;
	border-left:1px solid gray;
}

.form_field {
	width:100%;
	height: 7%;
}

.form_attachment{
	width:100%;
	height:260px;
}

.viewtask_label {
	margin-top:5px;
	margin-left:10px;
	font:normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:30%;
	float:left;
}

.viewtask_field {
	margin-top:5px;
	margin-left:10px;
	font:normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:grey;
	float:left;
}

.viewtask_edit {
	margin-top:5px;
	margin-left:10px;
	float:right;
}

#fieldset {
	width:250px;
}

#commentLabel {
	font:normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#dlvalue {
	display:inline;
}

#asvalue {
	display:inline;
}

#tagvalue {
	display:inline;
}

#savebutton {
	display:none;
}

#dl {
	display:none;
}

#as {
	display:none;
}

#tag {
	display:none;
}

body {
	margin: 0px;
}

.form_field {
	border:1px solid gray;
}
.form_attachment img{
	margin-left:10%;
}

.form_attachment video{
	margin-left:10%;
	margin-top:10px;
}
.menu a {
	padding:15px 35px;
	color:#000;
	text-decoration:none;
}
.menu a:hover {
	color:#FFF;
	text-decoration:none;
}
