<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Todolist-WebService</display-name>
    <servlet>
        <servlet-name>UserRest</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.UserRest</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CommentRest</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.CommentRest</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>CategoryRest</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.CategoryRest</servlet-class>
    </servlet> 
    <servlet-mapping>        
		<servlet-name>UserRest</servlet-name>
        <url-pattern>/rest/user/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>CommentRest</servlet-name>
        <url-pattern>/rest/comment/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>CategoryRest</servlet-name>
        <url-pattern>/rest/category/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>        
		<welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
