<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Todolist-WebService</display-name>
    <servlet>
        <servlet-name>UserRest</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.UserRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TugasRest</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.TugasRest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRest</servlet-name>
        <url-pattern>/rest/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TugasRest</servlet-name>
        <url-pattern>/rest/tugas/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>CommentResource</display-name>
        <servlet-name>CommentResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.CommentResource</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>UserResource</display-name>
        <servlet-name>UserResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.UserResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TugasResouce</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.TugasResouce</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CategoryResource</display-name>
        <servlet-name>CategoryResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.CategoryResource</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SearchAutoCompleteResource</display-name>
        <servlet-name>SearchAutoCompleteResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.SearchAutoCompleteResource</servlet-class>
    </servlet>
</web-app>
