<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Service.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoComplete</servlet-name>
        <servlet-class>Service.AutoComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>Service.CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>Service.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>Service.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>Service.DeleteTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTask</servlet-name>
        <servlet-class>Service.EditTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTask</servlet-name>
        <servlet-class>Service.GetAllTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAssignee</servlet-name>
        <servlet-class>Service.GetAssignee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategory</servlet-name>
        <servlet-class>Service.GetCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComment</servlet-name>
        <servlet-class>Service.GetComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfileInfo</servlet-name>
        <servlet-class>Service.GetProfileInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTag</servlet-name>
        <servlet-class>Service.GetTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTaskList</servlet-name>
        <servlet-class>Service.GetTaskList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkAsFinished</servlet-name>
        <servlet-class>Service.MarkAsFinished</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditProfile</servlet-name>
        <servlet-class>Service.SaveEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Service.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Service.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>Service.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>Service.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>Service.AddTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoComplete</servlet-name>
        <url-pattern>/AutoComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/CheckUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/DeleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTask</servlet-name>
        <url-pattern>/EditTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTask</servlet-name>
        <url-pattern>/GetAllTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAssignee</servlet-name>
        <url-pattern>/GetAssignee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategory</servlet-name>
        <url-pattern>/GetCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComment</servlet-name>
        <url-pattern>/GetComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProfileInfo</servlet-name>
        <url-pattern>/GetProfileInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTag</servlet-name>
        <url-pattern>/GetTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTaskList</servlet-name>
        <url-pattern>/GetTaskList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkAsFinished</servlet-name>
        <url-pattern>/MarkAsFinished</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditProfile</servlet-name>
        <url-pattern>/SaveEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
