<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Todolist-WebService</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <display-name>CommentResource</display-name>
        <servlet-name>CommentResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.CommentResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TugasResouce</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.TugasResouce</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CategoryResource</display-name>
        <servlet-name>CategoryResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.CategoryResource</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>UserResource</display-name>
        <servlet-name>UserResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.UserResource</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SearchAutoCompleteResource</display-name>
        <servlet-name>SearchAutoCompleteResource</servlet-name>
        <servlet-class>id.ac.itb.todolist.rest.resource.SearchAutoCompleteResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSoap</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CategorySoap</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CommentSoap</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TugasSoap</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentResource</servlet-name>
        <url-pattern>/rest/comment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TugasResouce</servlet-name>
        <url-pattern>/rest/tugas/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryResource</servlet-name>
        <url-pattern>/rest/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutoCompleteResource</servlet-name>
        <url-pattern>/rest/searchac/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserResource</servlet-name>
        <url-pattern>/rest/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSoap</servlet-name>
        <url-pattern>/UserSoap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySoap</servlet-name>
        <url-pattern>/CategorySoap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentSoap</servlet-name>
        <url-pattern>/CommentSoap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TugasSoap</servlet-name>
        <url-pattern>/TugasSoap</url-pattern>
    </servlet-mapping>
</web-app>
