/* 
    Document   : css
    Created on : Feb 18, 2013, 5:32:48 PM
    Author     : frilla, timo, stefan
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-image: url('img/Dashboard_bg.png');
    font-family: century gothic;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 10px;
    height: 35px;
    position: absolute;
    background-color: #000000;
}

header a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

input.liusername{
    color: white;
}

#logo-small {
    position: absolute;
    left: 10px;
    height: 40px;
    top: 0px;
}
#profile {
    position: absolute;
    left: 950px;
}
#dashboard {
    position: absolute;
    left: 1070px;
}
#logout {
    position: absolute;
    left: 1200px;
}
#search {
    position: absolute;
    left: 85px;
}

#box {
	width: 120px;
}

.kategori {
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-bottom: 15px;
	opacity: 0.8;
}

.kategori:hover {
    opacity: 1;
}

#category {
    top: 45px;
    left: 0;
    padding-top: 100px;
    padding-left: 35px;
    height: 560px;
    width: 250px;
    position: absolute;
    background-image: url('img/bg.jpg');
    overflow: hidden;
    color: white;
    font-size: 16pt;
}

.tugas {
    font-size: 12pt;
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    visibility: hidden;
    left: 700px;
    padding: 50px;
    margin-left: 100px;
    overflow: hidden;
    background-image: url('img/kertas.png');
    width: 350px;
    height: 443px;
}

#nama {
    font-size: 14pt;
    font-style: italic;
}

#tag {
    font-size: 8pt;
    color: red;
}

textArea {
    height: 70px;
    width: 350px;
}

#wanted{
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    left: 220px;
    margin-left: 100px;
    width: 350px;
    height: 443px;
    visibility: hidden;
}

#listtugas{
    font-size: 12pt;
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    visibility: hidden;
    left: 220px;
    padding: 50px;
    margin-left: 100px;
    overflow: hidden;
    background-image: url('img/kertas.png');
    width: 350px;
    height: 443px;
    visibility: visible;
}