/* 
    Document   : css
    Created on : Feb 18, 2013, 5:32:48 PM
    Author     : frilla, timo, stefan
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-image: url('img/Dashboard_bg.png');
    font-family: cambria;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 10px;
    height: 35px;
    position: absolute;
    background-color: #000000;
}

header a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

input.liusername{
    color: white;
}

#logo-small {
    position: absolute;
    left: 10px;
    height: 40px;
    top: 0px;
}
#profile {
    position: absolute;
    left: 950px;
}
#dashboard {
    position: absolute;
    left: 1070px;
}
#logout {
    position: absolute;
    left: 1200px;
}
#search {
    position: absolute;
    left: 85px;
}

#box {
	width: 120px;
}

.overlay
{
   background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}


.listTugas {
    width: 170px;
    height: 205px;
    float: left;
    background-image: url('img/tugas.png');
    background-repeat: no-repeat
}

.listTugas:hover {
    width: 170px;
    height: 205px;
    float: left;
    background-image: url('img/tugasHover.png');
}

.addTask {
    width: 160px;
    height: 191px;
    float: left;
    background-image: url('img/addtask.png');
}

.button {
    height: 20px;
    padding: 10px;
    color: white;
    opacity: 0.6;
    background-color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-indent: 40%;
}

.kategori {
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-bottom: 15px;
	opacity: 0.8;
}

.kategori:hover {
    opacity: 1;
}



#category {
    top: 45px;
    left: 0;
    padding-top: 100px;
    padding-left: 35px;
    width: 250px;
    height: 100%;
    position: absolute;
    background-image: url('img/bg.jpg');
    overflow: auto;
    color: white;
    font-size: 16pt;
}

.tugas {
    font-size: 12pt;
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    visibility: hidden;
    left: 700px;
    padding: 50px;
    margin-left: 100px;
    overflow: hidden;
    background-image: url('img/kertas.png');
    width: 350px;
    height: 443px;
}

#nama {
    font-size: 14pt;
    font-style: italic;
}

.attachment {
    font-style: italic;
    color: #5c3e19;
    padding: 10px;
}

.tag {
    font-size: 8pt;
    color: #5c3e19;
    text-decoration: none;
}

.asignee {
    font-size: 12pt;
    text-decoration: none;
    font-weight: bold;
    color: #5c3e19;
}

textArea {
    height: 70px;
    width: 350px;
}

#wanted{
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    left: 220px;
    margin-left: 100px;
    width: 350px;
    height: 443px;
    visibility: hidden;
}

#overlay {
    background-color: #000;
   opacity: .7;
   filter: alpha(opacity=70);
   position: fixed; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: 10;
}

#add {
  position: absolute;
  z-index: 1000;
  left: 380px;
  top: 200px;
  display: none;
  background-color: white;
  padding: 70px;
  width: 300px;
  height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.list{
    font-size: 12pt;
    top: 75px;
    position:absolute;
    background-color:transparent;
    border:0px;
    visibility: hidden;
    left: 250px;
    padding: 0px;
    margin-left: 100px;
    overflow: auto;
    width: 850px;
    height: 603px;
    visibility: hidden;
}

#listtugas {
    visibility: visible;
}

#addCat {
    font-size: 20pt;
    color: white;
    background-color: black;
    width: 250px;
    bottom: 0px;
    left: 0px;
    height: 50px;
    padding-top: 5px;
    position: absolute;
    padding-left: 35px;
}

