/* 
    Document   : mystyle
    Created on : 19 Feb 13, 15:15:00
    Author     : Compaq
    Description:
        Purpose of the stylesheet follows.
*/
#header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    height: 80px;
    position: fixed;
    background-color: #000000;
    box-shadow: 0px 5px 30px #000000;
}
#logo {
    position: fixed;
    left: 40px;
    top: 10px;
}
#logo-big{
    position: fixed;
    left: 20px;
    top: 100px;
    width: 50%;
    heigth: 50%;
}
#login{
    position: fixed;
    top: 20px;
    left: 50%;
    color:white;
    font-family: Cambria, Georgia, serif;
}
#register {
    position:fixed;
    top: 30%;
    left: 60%;
    line-height: 200%;
    font-family: Cambria, Georgia, serif;
}
#register b {
    font-size: 20pt;
    padding-bottom: 20%;
}
#inputregister {
    position: fixed;
    top: 35.5%;
    left: 73%;
    line-height: 200%;
}

#regfile{
    font-family: Cambria, Georgia, serif;
}

input{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#feature{
    position:fixed;
    top: 30%;
    left: 20%;
}

.logbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:black;
        font-weight:bold;
	font-family:Cambria, Georgia, serif;;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.logbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.logbutton:active {
	position:relative;
	top:1px;
}

#regbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Cambria, Georgia, serif;;
	font-size:15px;
	font-weight:normal;
	padding:2px 132px;
	text-decoration:none;
        text-shadow:1px 1px 0px #ffffff;
}#regbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}#regbutton:active {
	position:relative;
	top:1px;
}

#fpbackground{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5000;
}
#fpposter{
    position: fixed;
    width:450px;
    height:600px;
    top:12%;
    left:55%;
    z-index: -4000;
}
#fplogo{
    position: fixed;
    width:40%;
    top:15%;
    left:6%;
    z-index: -3000;
}
