/* 
    Document   : mystyle
    Created on : 19 Feb 13, 15:15:00
    Author     : Compaq
    Description:
        Purpose of the stylesheet follows.
*/
#header {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    height: 80px;
    position: absolute;
    background-color: #000000;
    box-shadow: 0px 5px 30px #888888;
}
#logo {
    position: fixed;
    left: 40px;
    top: 10px;
}

#login{
    position: fixed;
    top: 20px;
    left: 50%;
    color:white;
    font-family: Arial;
}
#register {
    position:fixed;
    top: 30%;
    left: 60%;
    line-height: 200%;
    font-family: Arial;
}
#register b {
    font-size: 20pt;
    padding-bottom: 20%;
}
#inputregister {
    position: fixed;
    top: 40%;
    left: 73%;
    line-height: 200%;
}
input{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#feature{
    position:fixed;
    top: 30%;
    left: 20%;
}

.libutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.libutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.libutton:active {
	position:relative;
	top:1px;
}

.rgbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:2px 132px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.rgbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.rgbutton:active {
	position:relative;
	top:1px;
}