<?xml version="1.0" encoding="UTF-8"?>
<!--<welcome-file-list>-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Suggestion</servlet-name>
        <servlet-class>ajax.Suggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>util.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataUpdate</servlet-name>
        <servlet-class>ajax.UserDataUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeKategori</servlet-name>
        <servlet-class>ajax.changeKategori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitStatus</servlet-name>
        <servlet-class>ajax.CommitStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllKategori</servlet-name>
        <servlet-class>ajax.showAllKategori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertKategori</servlet-name>
        <servlet-class>ajax.InsertKategori</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Suggestion</servlet-name>
        <url-pattern>/Suggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataUpdate</servlet-name>
        <url-pattern>/UserDataUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeKategori</servlet-name>
        <url-pattern>/changeKategori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitStatus</servlet-name>
        <url-pattern>/CommitStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllKategori</servlet-name>
        <url-pattern>/showAllKategori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertKategori</servlet-name>
        <url-pattern>/InsertKategori</url-pattern>
    </servlet-mapping>
</web-app>
<!--    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>-->
