<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>addcomment</servlet-name>
        <servlet-class>addcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecomment</servlet-name>
        <servlet-class>deletecomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getactivity</servlet-name>
        <servlet-class>getactivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcommentinfo</servlet-name>
        <servlet-class>getcommentinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofile</servlet-name>
        <servlet-class>getprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcomments</servlet-name>
        <servlet-class>getcomments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofilebirthday</servlet-name>
        <servlet-class>getprofilebirthday</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofileemail</servlet-name>
        <servlet-class>getprofileemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofilename</servlet-name>
        <servlet-class>getprofilename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getprofilepassword</servlet-name>
        <servlet-class>getprofilepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gettaskinfo</servlet-name>
        <servlet-class>gettaskinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settaskinfo</servlet-name>
        <servlet-class>settaskinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeprofilepicture</servlet-name>
        <servlet-class>changeprofilepicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addcomment</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecomment</servlet-name>
        <url-pattern>/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getactivity</servlet-name>
        <url-pattern>/getactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcommentinfo</servlet-name>
        <url-pattern>/getcommentinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofile</servlet-name>
        <url-pattern>/getprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcomments</servlet-name>
        <url-pattern>/getcomments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofilebirthday</servlet-name>
        <url-pattern>/getprofilebirthday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofileemail</servlet-name>
        <url-pattern>/getprofileemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofilename</servlet-name>
        <url-pattern>/getprofilename</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getprofilepassword</servlet-name>
        <url-pattern>/getprofilepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettaskinfo</servlet-name>
        <url-pattern>/gettaskinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settaskinfo</servlet-name>
        <url-pattern>/settaskinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeprofilepicture</servlet-name>
        <url-pattern>/changeprofilepicture</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
