/**KODE BUAT DETAIL
 
 <div id="detail">
                    
                        <label>DEADLINE</label>
                        <a id="deadline">11/08/2013</a>
                        
                         <label>ASSIGNEE</label>
                        <a id="assignee">Faiz</a>
                        
                         <label>TAG</label>
                        <a id="tag">KAP</a>
                        
                         <label>ATTACHMENT</label>
                        <a href ="#" id="attach">Download Here</a>
                    
                </div>
*/

#addtask{
    background-color: #ececec;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 118px;
    margin-top: 64px;
    background-image: url("../pict/tulisantask.png");
    background-repeat: no-repeat;
    background-position: center;
}

#edit{
    background-image: url("../pict/tulisanedit.png");
    background-repeat: no-repeat;
    background-position: center;
}

#back{
    background-image: url("../pict/back.png");
    background-repeat: no-repeat;
    background-position: center;
}

#formtask2{
    margin-left: 83px;
    margin-top: 20px;
}

#judulform{
    background-image: url("../pict/formjudul.png");
    height: 145px;
    width:267px;
    background-repeat: no-repeat;
    margin-left: 83px;
}
#formtask{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 485px;
    background-color: #ececec;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 300px;
    
}
#rinciantugas{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#komen{
}

.daftarkomen{
    width: 100%-10px;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: Calibri;
    border-radius: 0px;
   -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

textarea{
    width:100%;
    height: 83px;
}

/***RINCIAN TUGAS**/
#judultugas{
    font-family: Calibri;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
#detail{
    margin-left: 50px;
    margin-top: 30px;
    font-family: Calibri;
    font-size: 20px;
}

#detailedit{
    margin-left: 100px;
    margin-top: -220px;
    font-family: Calibri;
    font-size: 20px;
}
.attachment {
    width: 390px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#divattachment {
    width: 390px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.kolom {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
#kolom2 {
    width: 365px;
}
#kolom3 {
    width: 400px;
}
#kolomwrapper {
    margin: 0 auto;
    margin-top: 50px;
    width: 960px;
}
.tombol {
    width: 125px;
    height: 68px;
    margin-bottom: 10px;
}
#back:hover{
    background-color: #361a2c;
}
#edit:hover{
    background-color: #361a2c;
}

.kotakwarna {
    background-color: #ececec;
    border-radius:20px;
   -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    /*-webkit-box-shadow: 0px 2px 2px 1px #000;
    box-shadow: 0px 2px 2px 1px #000; */
    -webkit-box-shadow: 1px 1px 5px 0px #aaa;
    box-shadow: 0px 1px 5px 0px #aaa; 
}

.btag {
   /* -webkit-box-shadow:  0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow:  0 0 5px rgba(0,0,0,0.5);
    box-shadow:  0 0 5px rgba(0,0,0,0.5);*/
    border-radius:10px;
    text-align: center;
    font-size: 20px;
    background-color: #e58100;
    padding: 3px 10px 3px 10px;
}

.btag:hover {
    background-color: #361a2c;
    color: #e58100;
    
}

.komenkolom {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.komennama {
    text-decoration: none;
    color: #000;
    font-size: large;
    margin-bottom: 100px;
}
.komenkomen {
    width: 250px;
}
.komenwaktu {
    margin-top: 20px;
    text-decoration: none;
    font-style: italic;
    color: #666;
}
.komenava {
    width: 50px;
}
.komennama:hover {
    color: #e58100;
}
a:visited {
    color: #000;
}

/* assignee */
.asgava {
    width: 50px;
}
.asgdivelemt{
    vertical-align: middle;
}
.asgdiv {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}
.asgdiv:hover {
    background-color: #e58100;
}



/* hover */

.komenava:hover {
    -webkit-box-shadow:  0px 0px 5px 2px #e58100;
    -moz-box-shadow:   0px 0px 5px 2px #e58100;
    box-shadow:  0px 0px 5px 2px #e58100;
}