/*inipynyaregawal
 <div id="regawal">
                    <div id="were">
                    </div>
                    <div id="poctreg">
                    </div>
                    <div id="textreg">
                        try and be awesome 
                    </div>
                </div>
                
                
ini punya munculin cat
var nana=document.createElement("div");
                var node=document.createTextNode("This is new.");
                nana.id = ':listtask';
                para.appendChild(nana);
                
                var element=document.getElementById("main");
                var child=document.getElementById("task");
                element.insertBefore(nana,child);

                */

body{
    background-image: url("../pict/cubes.png");
    background-repeat: repeat;
    width: 1280px;
    height: 980px;
}

#logo{
    background-image: url("pict/logo.png");
    height: 32px;
    width: 81px;
    margin-left: 40px;
    margin-top: 8px;
    
}

#login {
    float: right;
}
.main{
    width: 1280px;
    height: 700px;
}
input{
    display: inline;
}


.header{
    padding-top: 1px;
    height: 53px;
    width: 1280px;
    background-color: #e58100;
    margin-left: -10px;
    margin-top: -10px;   
}

#slider{
    margin-top: 84px;
    margin-left: 53px;
}

.footer{
    height: 30px;
    width: 1280px;
    background-color: #000000;
    margin-left: -10px;
    margin-top: 100px;
    color: #ffffff;
    text-align: center;
    font-family: Calibri;
    padding-top: 10px;
}

#registrasi{
    height: 633px;
    width: 458px;
    margin-left: 750px;
    margin-top: -500px;
    
}

#were{
    background-image: url("../pict/were.png");
    background-repeat: no-repeat;
    height: 111px;
    width: 239px;
    margin : 110px auto 0 auto;
    position: relative;
}

#poctreg{
    background-image: url("../pict/regnor.png");
    background-repeat: no-repeat;
    height: 73px;
    width: 226px;
    margin : 10px auto 0 auto;
    position: relative;
}

#regakhir{
    background-image: url("../pict/formreg2.png");
    margin : 10px auto 0 auto;
    position: relative;
    width: 418px;
    height: 770px;
}

#formreg{
    padding-top: 150px;
    padding-left: 80px;
    position: relative;
    width: 418px;
    height: 770px;
}

input{
	width:250px;
	height:35px;
	background:#f9f9f9;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.8em;
	color:#3a3a3a;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
}

#textreg{
    font-family: Calibri;
    color: #e58100;
    text-align: center;
}

#poctreg:hover{
    background-image: url("../pict/reghov.png");
}

.small{
        width:160px;
	height:30px;
	background:#f9f9f9;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
        border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
}

.xsmall{
         width:50px;
	height:30px;
	background:#f9f9f9;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
        border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        
}

.submitreg{
        position: relative;
        width : 100px;
        height: 30px;
        padding: 5px 15px;
        margin : 10px auto 0 auto;
        text-align: center;
	border-radius: 3px;
        background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
        color: #ffffff;
        border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
}

/*FORM CSS*/
html {
	background: url('http://subtlepatterns.com/patterns/wood_pattern.png');
	font-size: 10pt;
}
label {
        margin-left: 1px;
        font-style: Calibri;
        font-size: 14pt;
	display: block;
	color: #e58100;
        margin-top: 5px;
}


.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}
.loginform {
	width: 410px;
        margin-top: -35px;
        margin-right: 40px;

}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
	float: left;
}
.loginform input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid ;
        border-color: #fc8e00;
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input[type=submit] {
	border: 1px solid ;
        border-color: #e58100;
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 5px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}


/*** HEADER **/
#dashboard{
    font-family: Calibri;
    font-size: 25px;
    color: #ffffff;
    margin-top: -43px;
    margin-left: 180px;
}

#dashboard:hover{
    color: #3f1e1e;
}

#border{
    width: 8px;
    height: 55px;
    background-image: url("../pict/border.png");
    margin-left: 150px;
    margin-top: -43px;
}

#profile{
    font-family: Calibri;
    font-size: 25px;
    color: #ffffff;
    margin-top: -30px;
    margin-left: 330px;
}

#profile:hover{
    color: #3f1e1e;
}
#wellfaiz{
    background-image: url("../pict/welcomefaiz.png");
    width: 157px;
    height: 37px;
    float: right;
    margin-right: 190px;
    margin-top: -34px;
}
#logout{
    font-family: Calibri;
    font-size: 25px;
    color: #ffffff;
    float: right;
    margin-right: -280px;
    margin-top: -30px;
}
#logout:hover{
    color: #3f1e1e;
}

/* buat validasi form */
#usericon{
	height: 20px;
}

#passicon{
	height: 20px;
}

#conficon{
	height: 20px;
}

#nameicon{
	height: 20px;
}

#emailicon{
	height: 20px;
}

#avaicon{
	height: 20px;
}

#dateicon{
	height: 20px;
}

/* -------------------*/

/***SEARCH***/
.searchform {
    margin-top: -35px;
	margin-left: 600px;
}

.searchbox{
	width:200px;
	height:30px;
	background:#f9f9f9;
	border:1px solid #dedede;
	padding:5px 10px 5px 10px;
	margin-top:5px;
	font-size:1em;
	color:#3a3a3a;
        border-radius:5px 0px 0px 5px;
        -moz-border-radius:10px 0px 0px 10px;
        -webkit-border-radius:10px 0px 0px 10px;       
}
.searchbuttonbox{
	margin-left: 800px;
	margin-top: -31px;
	width:75px;
	height:24px;
	background:#f9f9f9;
	border:1px solid #f23804;
	padding:3px 3px 3px 2px;
	color:#3a3a3a;
        border-radius:0px 5px 5px 0px;
        -moz-border-radius:0px 10px 10px 0px;
        -webkit-border-radius:0px 10px 10px 0px;
}
.searchbuttonbox:hover{
	background-color: #f2cb04;
	color: #000;
}
.searchbutton:active{
	position: relative;
	top: 1px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.alert {
	position: absolute;
	left:850px;
	font-size: 20px;
	font-family: Calibri;
	color: red;
}

/*=========================PROFILE=============*/
.profheader{
    width: 374px;
    height: 570px;
    background-image: url("../pict/bgprof.png");
    margin-left: 100px;
    margin-top: 100px;
}

#avatarnya{
      padding-top: 100px;
      padding-left: 80px;
}

#avatarnya img{
	margin-left:-20px;
	height:200px;
	width:250px;
}

#namalengkap{
	margin-top: 10px;
	font-family: Calibri;
	font-size: 20px;
	text-align: center;
}

#tanggallahir{
	margin-top: 2px;
	font-family: Calibri;
	font-size: 20px;
	text-align: center;
}

#email{
	margin-top: 2px;
	font-family: Calibri;
	font-size: 20px;
	text-align: center;
}

#editprof{
    margin-top: 30px;
    margin-left: 115px;
    padding-top: 10px;
    width: 140px;
    height: 50px;
    background-color: #e58100;
    color: #ffffff;
    font-family: Calibri;
    font-size: 30px;
    text-align: center;
    border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
	font-weight: 800;
}

#editprof:hover{
    color: #ffffff;
    background-color: #000000;
}

#parat{
	height : 20px;
}
/*=======================================================*/
.profil1Form {
    margin-top: -530px;
	margin-left: 580px;
}
.profil1Form ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
	margin-top:-6px;
}
.profil1Form li {
	margin-top:6px;
}
.profil2Form {
    margin-top: -432px;
	margin-left: 845px;
}


.profil2Form ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
	margin-top:-6px;
}
.profil2Form li {
	margin-top:6px;
}
.listProfilbox{
	text-align: center;
	width:240px;
	height:65px;
	background:#c74f51;
	/*border:2px solid #d1d1d1;*/
	padding:0px;
	font-family:Calibri;
	font-size:20px;
	color:#ffffff;
        border-radius:15px 15px 15px 15px;
        -moz-border-radius:15px 15px 15px 15px;
        -webkit-border-radius:15px 15px 15px 15px;     
}

.listProfilbox2{
	text-align: center;
	width:240px;
	height:65px;
	background:#000000;
	/*border:2px solid #d1d1d1;*/
	padding:0px;
	font-family:Calibri;
	font-size:20px;
	color:#ffffff;
        border-radius:15px 15px 15px 15px;
        -moz-border-radius:15px 15px 15px 15px;
        -webkit-border-radius:15px 15px 15px 15px;     
}

/*======================Dashboard================*/
#addcat{
    background-color: #ececec;
    width: 139px;
    height: 68px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 118px;
    margin-top: 64px;
    background-image: url("../pict/pluscat.png");
    background-repeat: no-repeat;
    background-position: center;
}

#addtask{
    background-color: #ececec;
    width: 139px;
    height: 68px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    background-image: url("../pict/tulisantask.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-left: 120px;
}

#category{
    width: 242px;
    height: auto;
    margin-left: 282px;
    margin-top: -155px;
}

#addtask:hover{
    background-color: #361a2c;
}

#addcat:hover{
    background-color: #361a2c;
}

#listcat{
    width: 240px;
    height: 65px;
    background-color: #e58100;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

#tulcat{
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    font-family: Calibri;
}

#listcat:hover{
    background-color: #fecc8c;
}

#listcat.activecat{
    background-color: #fecc8c;
}
#task{
    width: 242px;
    height: auto;
    margin-left: 550px;
    margin-top: -310px;
}

#listtask{
    width: 240px;
    height: 65px;
    background-color: #c74f51;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    margin-bottom: -10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: Calibri;
}

#listtask:hover{
    background-color: #e29394;
    
}


/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	margin-top: -200px;
	background-color: #ececec;
	width:400px;
	height:440px;
	border:5px solid #e0e0e0;
	z-index: 9002;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}	

#popUpDiv a {position:relative; top:20px; left:20px}

#editprofile{
    margin-left: 40px;
    margin-top: 30px;
}

#edittitle{
    color: #e97f2c;
    font-family: Calibri;
    font-weight: 800;
    font-size: 30px;
    margin-top: -5px;
}
#closeedit{
    color: #e97f2c;
    float: right;
    margin-right: 50px;
    font-family: Calibri;
    font-size: 20px;
    margin-top: -15px;
}

#closeedit:hover{
    color: #ffffff;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none}
A:link {text-decoration: none; }
A:visited {text-decoration: none; color: #ffffff;}
A:active {text-decoration: none; color: #ffffff;}
A:hover {text-decoration: none; color: #000000;}