@charset "utf-8";
/* CSS Document */
header, footer, nav, article, aside, section {
	display: block;
}
#content {
	width:100%;
	height: 480px;
}
#login {
	padding: 10px;
	width: 250px;
	height: 180px;
	display: block;
}
#register {
	padding: 10px;
	width: 900px;
	height: 230px;
	display: block;
}
#footer {
	display:block;
	width: 100%;
}

