@font-face {font-family:Oxygen-Bold; font-weight:900; src: url('Oxygen-Bold.ttf'); }
@font-face {font-family:Oxygen-Light; font-weight:300; src: url('Oxygen-Light.ttf');}
@font-face {font-family:Oxygen; font-weight:400; src: url('Oxygen-Regular.ttf');}

/* Reset
-----------------------------------------------------------------------------------------------*/	
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
	del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
	font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
address { font-style: normal; }
form button {padding: 0px; margin: 0px; cursor: pointer; /* ie6 doesn't always display the correct cursor */ width: auto; 
/* ie6 width fix */ overflow: visible; /* ie6 width fix */ vertical-align: bottom; padding-bottom: 0px;}

/*--- TEMPLATE CLASS ---*/
.clear
{
	clear: both;
}
.wrap
{
	width: 940px;
	max-width: 940px;
	position: relative;
	margin: 0 auto;
	clear: both;
}
.appear
{
	display: block !important;
}

html, body
{
	font-family: 'Oxygen', sans-serif;
	background-color: #F9F9F9;
	margin: 0;
	padding: 0 10px;
}

/*--- HEADER ---*/
header a
{
	text-decoration: none;
	color: #333333;
}
#header_wrap
{
	border-bottom: 1px solid #CCCCCC;
	margin: 10px auto;
	position: relative;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
#header_logo
{
	height: 55px;
	float: left;
}
#header_title
{
	float: left;
	margin: 0px 20px;
}
#header_title h1
{
	margin: 4px 0px;
}
#header_title h4
{
	margin: 4px 0px;
	font-style: italic;
}
#header_menu
{
	padding-top: 22px;
}
#border_header
{
	float: left;
	width: 1px;
	height: 46px;
	position: relative;
	top: 6px;
	margin: 0px 6px;
	background-color: #CCCCCC;
}

/*--- HEADER NAVIGATION ---*/
nav ul
{
	list-style: none;
	display: inline;
}
nav, nav ul li
{
	float: left;
}
nav ul li a
{
	display: block;
	font-size: 18px;
	font-weight: 400;
	margin: 6px 14px;
}
nav ul li a:hover, nav ul li a .active
{
	color: #258AAF;
}

/*--- HEADER SEARCH ---*/
#search
{
	float: right;
	overflow: hidden;
	width: 35px;
	height: 30px;
	display: block;
	-webkit-transition: width 0.4s ease;
	-moz-transition: width 0.4s ease;
	-ms-transition: width 0.4s ease;
	-o-transition: width 0.4s ease;
	transition: width 0.4s ease;
}
#search_left, #search_right
{
	float: left;
	width: 1px;
	height: 8px;
	position: relative;
	top: 18px;
	background-color: #CCCCCC;
}
#search_inner
{
	width: 220px;
}
#search:hover, #search.active
{
	width: 220px;
}
#search:hover #search_button
{
	background-position: 0 -30px;
}
#search:hover #search_left, #search:hover #search_right
{
	background-color: #258AAF;
}
#search:hover #search_text
{
	border-bottom: 1px solid #258AAF;
}
#search_button
{
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/search.png) no-repeat;
	margin: 0px 4px;
	float:left;
}
#search_form
{
	float: left;
	padding: 6px 0px;
}
#search_text
{
	width: 180px;
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #CCC;
	margin-left: 0;
	margin-right: 0;
}
#border_search
{
	float: right;
	width: 1px;
	height: 28px;
	position: relative;
	margin: 0px 6px;
	background-color: #CCCCCC;
}

/*--- HEADER LOGIN ---*/
#login_area
{
	float: right;
	position: relative;
}
#border_login
{
	background-color:white;
	position: relative;
	width: 79px;
	height: 7px;
	top: -1px;
	z-index: 200;
	display:none;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	box-shadow: -2px 0 2px #BBBBBB, 2px 0 2px #BBBBBB;
	-moz-box-shadow: -2px 0 2px #BBBBBB, 2px 0 2px #BBBBBB;
	-webkit-box-shadow: -2px 0 2px #BBBBBB, 2px 0 2px #BBBBBB;
}
#border_login_inner
{
	background-color: white;
	position: absolute;
	z-index: 300;
	width: 79px;
	height: 14px;
	top: -3px;
}
#login_form_wrap
{
	background-color: white;
	position: absolute;
	z-index: 100;
	top: 36px;
	right: 0px;
	padding: 12px;
	border: 1px solid #CCCCCC;
	display: none;
	box-shadow: 0 0 2px 2px #BBBBBB;
	-moz-box-shadow: 0 0 2px 2px #BBBBBB;
	-webkit-box-shadow: 0 0 2px 2px #BBBBBB;
}
.login_link_appear
{
	margin: 5px 13px;
	color: #258AAF;
}
.login_button_appear
{
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 0px -2px 2px #BBBBBB, -2px -2px 2px #BBBBBB, 2px -2px 2px #BBBBBB;
	-moz-box-shadow: 0px -2px 2px #BBBBBB, -2px -2px 2px #BBBBBB, 2px -2px 2px #BBBBBB;
	-webkit-box-shadow: 0px -2px 2px #BBBBBB, -2px -2px 2px #BBBBBB, 2px -2px 2px #BBBBBB;
}
.logout_link_focus
{
	margin: 5px 13px;
	color: #258AAF;
}
.logout_button_focus
{
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 2px 2px #BBBBBB;
	-moz-box-shadow: 0px 0px 2px 2px #BBBBBB;
	-webkit-box-shadow: 0px 0px 2px 2px #BBBBBB;
}

/*--- FORM ---*/
.row
{
	margin-bottom: 8px;
}
.row label
{
	font-size: 87%;
	font-weight: 400;
}
.row input:hover
{
	border: 1px solid #999999 !important;
}
.row input:focus
{
	border: 1px solid #3079ed !important;
	box-shadow: inset 1px 1px 1px 1px #dadada;
	-moz-box-shadow: inset 1px 1px 1px 1px #dadada;
	-webkit-box-shadow: inset 1px 1px 1px 1px #dadada;
}
#register_form input[type="text"], #register_form_wrap input[type="password"], #register_form_wrap input[type="date"], 
#register_form input[type="email"], #register_form_wrap input[type="file"]
{
	margin-top: 2px;
	margin-left: 10px;
	width: 200px;
	height: 26px;
	border: 1px solid #d9d9d9;
	background-position: right top;
    background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
#login_form_wrap input[type="text"], #login_form_wrap input[type="password"], #login_form_wrap input[type="date"], 
#login_form_wrap input[type="email"], #login_form_wrap input[type="file"]
{
	margin-top: 2px;
	margin-left: 10px;
	width: 155px;
	height: 26px;
	border: 1px solid #d9d9d9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
#login_form_wrap  input[type="submit"], #register_form_wrap  input[type="submit"], #profil_form_wrap  input[type="submit"]
{
	float: right;
	font-weight: bold;
	color: #ffffff;
	padding: 5px 12px;
	border: 1px solid #3079ed;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(to bottom,#4d90fe,#4787ed);
}
#login_form_wrap  input[type="submit"]:hover, #register_form_wrap  input[type="submit"]:hover
{
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(to bottom,#4d90fe,#357ae8);
}
#profil_form input[type="text"], #profil_form_wrap input[type="password"], #profil_form_wrap input[type="date"], 
#profil_form input[type="email"], #profil_form_wrap input[type="file"]
{
	margin-top: 2px;
	margin-left: 10px;
	width: 200px;
	height: 26px;
	border: 1px solid #d9d9d9;
	background-position: right top;
    background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
/*---DASH BOARD---*/
#dashboard_category
{
    padding-left : 50px;
    width : 60px;
}

.dashboard_category_element
{
    display : block;
    padding : 6px 30px;
    font : arial 150%;
    border-style : outset;
    border-width : 5px;
}

.dashboard_category_element:hover
{
    display : block;
    padding : 6px 30px;
    font : arial 150%;
    border-style : inset;
    border-width : 5px;
}

/*Profil*/
#profil_area
{
	float : left;
}
#avatar_image1
{
	height: 100px;
}
#avatar_image2
{
	height: 100px;
	padding-left : 160px;
}
#profil_title
{
	text-align:center;
	color:#6699FF;
	line-height:200%;
	text-shadow:5px 5px 10px #C0C0C0;
	letter-spacing:1px;
	font-family: "Cooper Black", "sans-serif auto";
	font-size: 170%;
}
#success_edit {
	color: #0C0;
	font-size: 14px;
	padding-left: 150px;
}
#profil_form_wrap
{
	padding: 15px;
}
#profil_form_wrap label
{
	float: left;
	display: block;
	width: 150px;
	line-height: 32px;
}
#profil_head h1
{
	margin: 8px 0;
}
#profil_head
{
	margin-bottom: 14px;
	border-bottom: 1px solid #AAAAAA;
}
/*--- REGISTER FORM ---*/
#black_trans
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	z-index: 200;
}
#frame_register
{
	position: relative;
	width: 412px; 
	height: 512px; 
	z-index: 400; 
	padding: 15px; 
	margin: 0px auto; 
	top: 0px;
	opacity: 0;
	overflow: hidden;

	transition-property: top, opacity;
	transition-duration: 0.4s;
	transition-timing-function: linear;
	-moz-transition-property: top, opacity;
	-moz-transition-duration: 0.4s;
	-moz-transition-timing-function: linear;
	-ms-transition-property: top, opacity;
	-ms-transition-duration: 0.4s;
	-ms-transition-timing-function: linear;
	-webkit-transition-property: top, opacity;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: linear;
	-o-transition-property: top, opacity;
	-o-transition-duration: 0.4s;
	-o-transition-timing-function: linear;
}
.frame_register_enter
{
	top: 70px !important;
	opacity: 1 !important;
}
#register_area
{
	display: none;
	z-index: 400; 
	width: 400px; 
	height: 400px;  
	background-color: #FFFFFF;
	border: 6px solid #AAAAAA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#close_button
{
	display: none;
	z-index: 300;
	position: absolute;
	margin-left: 376px;
	margin-top: 12px;
	width: 24px; 
	height: 24px; 
	text-align: center;	
}
#close_button a
{
	z-index: 400;
	color: #777777;
	line-height: 24px;
	font-size: 22px;
	text-decoration: none;
}
#close_button:hover, #close_button a:hover
{
	z-index: 500;
	color: #111111;
	line-height: 24px;
	font-size: 22px;
	text-decoration: none;
}
#register_form_wrap
{
	padding: 15px;
}
#register_form_wrap label
{
	float: left;
	display: block;
	width: 150px;
	line-height: 32px;
}
#register_head h1
{
	margin: 8px 0;
}
#register_head
{
	margin-bottom: 14px;
	border-bottom: 1px solid #AAAAAA;
}

/*--- CONTENT ---*/
#content_wrap
{
	height: 500px;
	background-color: white;
	margin: 10px auto;
	padding: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 5px 5px #BBBBBB;
	-moz-box-shadow: 0 0 5px 5px #BBBBBB;
	-webkit-box-shadow: 0 0 5px 5px #BBBBBB;
}
#content_wrap_inner
{
	float: left;
	position: relative;
	width: 100000px;
	left: 0;
	
	transition-property: left;
	transition-duration: 0.6s;
	transition-timing-function: linear;
	-moz-transition-property: left;
	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: linear;
	-ms-transition-property: left;
	-ms-transition-duration: 0.6s;
	-ms-transition-timing-function: linear;
	-webkit-transition-property: left;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: linear;
	-o-transition-property: left;
	-o-transition-duration: 0.6s;
	-o-transition-timing-function: linear;
}
#slide_left, #slide_right
{
	position: absolute;
	z-index: 100;
	width: 20px;
	height: 36px;
	top: 230px;
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: linear;
	-ms-transition-property: opacity;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: linear;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: linear;
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear;
}
#slide_left
{
	left: 20px;
	background: url(../images/arrow-left.png);
}
#slide_right
{
	right: 20px;
	background: url(../images/arrow-right.png);
}
#slide_left:hover, #slide_right:hover
{
	background-position: 0 -36px;
}
.slide_item
{
	width: 940px;
	height: 485px;
	margin-right: 16px;
}
#slide_bullet
{
	width: 100px;
	margin: 0 auto;
	text-align: center;
}
.bullet_slide
{
	background: none repeat scroll 0 0 #ACACAC;
	cursor: pointer;
	font-size: 5px;
	margin: 0 4px;
	float: left;
	width: 10px;
	height: 10px;
	position: relative;
	top: 3px;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.bullet_slide.active
{
	background: none repeat scroll 0 0 #FF4C00;
}

/*--- FOOTER ---*/
#footer_wrap
{
	margin: 14px auto;
	padding: 8px 0px;
	border-top: 1px solid #CCCCCC;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

/*--- I DON't know --- */

#help_picture{
	 width: 940px;
	 height : 500px;
	 border : 0px;
}
