#addtask{
    background-color: #ececec;
    width: 139px;
    height: 68px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 118px;
    margin-top: 64px;
    background-image: url("../pict/tulisantask.png");
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
}

#edit{
    background-color: #ececec;
    width: 139px;
    height: 68px;
    border-radius:20px;
    border: solid 1px #dedede;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 118px;
    margin-top: 64px;
    background-image: url("../pict/tulisanedit.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: auto;
    padding-right: auto;    
}

#addtask:hover{
    background-color: #361a2c;
}

#edit:hover{
    background-color: #361a2c;
}

#back{
    background-color: #ececec;
    width: 139px;
    height: 68px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 118px;
    margin-top: 20px;
    background-image: url("../pict/back.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: auto;
    padding-right: auto;    
}

#back:hover{
    background-color: #361a2c;
}

#hapus{
    background-color: #ececec;
    width: 139px;
    height: 68px;
    border-radius:20px;
    border: solid 1px #dedede;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 118px;
    margin-top: 5px;
    background-image: url("../pict/tulisanhapus.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: auto;
    padding-right: auto;    
}

#hapus:hover{
    background-color: #361a2c;
}

#formtask2{
    margin-left: 70px;
    margin-top: 10px;
}

#judulform{
    background-image: url("../pict/formjudul.png");
    height: 145px;
    width:267px;
    background-repeat: no-repeat;
    margin-left: 83px;
}
#formtask{
    padding-top: 30px;
    width: 485px;
    height: 725px;
    background-color: #ececec;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 300px;
    margin-top: -60px;
}
#rinciantugas{
    padding-top: 30px;
    width: 400px;
    height: 760px;
    background-color: #ececec;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 1px 1px 5px 0px #e1e1e1;
    margin-left: 300px;
    margin-top: -235px;
}

#komen{
    width: 337px;
    height: 500px;
    margin-left: 760px;
    margin-top: -790px;
}

#tempat_komentar{
    height: 420px;
    overflow: scroll;
    background-color: white;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    border: solid 1px;
}

#daftarkomen{
    width: 290px;
    height: 83px;
    background-color: #ececec;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom: 15px;
    color: #333333;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Calibri;
}

textarea{
    width: 305px;
    height: 83px;
}

/***RINCIAN TUGAS**/
#judultugas{
    font-family: Calibri;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
#detail{
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    font-family: Calibri;
    font-size: 20px;
    visibility: visible;
}

#detailedit{
    margin-left: 70px;
    margin-top: -260px;
    font-family: Calibri;
    font-size: 20px;
    visibility: hidden;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-left: 50px;
}

#yearbox {
    width: 52px;
    padding-left: 5px;
}

#autobox {
    border: solid 1px;
    background-color: white;
    margin-left: 1px;
    font-style: Calibri;
    font-size: 12pt;
	display: block;
	color: #A4A4A4;
    margin-top: 5px;
    z-index: 100;
}

#id_tugas{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#daftarkomen img {
    height: 100%;
}

#submitkomen{
    height:150px;
}

.gambar_user{
    width: 80px;
    height: 60px;
    display: block;
}

.data_komentar{
    margin-left: 80px;
    margin-top: -60px;
    display: block;
}

#paginasi_komentar{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#halaman_komentar{
    width: 40px;
    height: 30px;
    background-color: white;
}
#max_komentar{
    width: 40px;
    height: 30px;
    background-color: #C8C8C8;
}

#assignee {
    height: 50px;
    width: 300px;
    overflow-y: scroll;
}

#tag {
    height: 50px;
    width: 300px;
    overflow-y: scroll;
}

#attach{
    height: 240px;
    width: 300px;
    overflow-y: scroll;
}

#attach_upload {
    height: 140px;
    width: 300px;
    overflow-y: scroll;
    background-color: white;
    border: solid 1px;
}

#file {
    height: auto;
}

#file_upload{
    visibility: hidden;
    height: 0px;
}

.attach_image {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 200px;
}

.attach_image img {
    max-width: 100%;
    max-height: 100%;
}

.hapus_comment {
    position: relative;
    width : 40px; 
    height: 30px;
    padding: 5px 5px;
    margin : 5px auto 0 auto;
    text-align: center;
	border-radius: 3px;
    background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    color: #ffffff;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#attach_upload a:visited {
    color: purple;
}

#attach a:visited {
    color: purple;
}

#date {
    width: 90px;
}

#id_kategori {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#username {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

