@charset "utf-8";
/* CSS Document */

body{
	background-image:url(Image/bg.jpg);
	background-repeat:repeat;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#wrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
}

#header {
	position:absolute;
    left: 50%;
    width:950px;
    height:175px;
    margin-left: -475px;
	background-image:url(Image/back.png);
}
#header a:hover{
	background-color:#FFF;
}
#header a:visited{
	text-decoration: none;
	color:#009;
}
#header a:link{
	color:#009;
	text-decoration: none;
}
#header a:active{
	color:#00F;
	text-decoration: none;
}

h1{
	color:#007;
	
}
h3{
	color: #000;
}

#logo {
	position:absolute;
	margin-left:100px;
}
#header_menu {
	position:absolute;
	margin-left:700px;
	margin-top: 0px;
}
#header_search{
	position:absolute;
	margin-left:680px;
	margin-top: 120px;
}

#content{
	position:absolute;
    left: 50%;
    width:700px;
    margin-left: -225px;
	margin-top: 180px;  
	padding-bottom: 50px;
	background: rgba(255, 255, 255, .7);
	text-align: center;
}

#contentdashboard{
	position:absolute;
    left: 50%;
    width:950px;
    margin-left: -475px;
	margin-top: 180px;  
	padding-bottom: 50px;
	background: rgba(255, 255, 255, .7);
	text-align: center;
}

#menu{
	position:absolute;
    left: 50%;
    width:245px;
    margin-left: -475px;
	margin-top: 180px;
	background: rgba(255, 255, 255, .7);
	text-align:center;
	padding-bottom: 50px;
}

#footer {
	position: absolute;
	margin-top: 620px;
	width: 100%;
	padding-left:12px;
	margin-left: -20px;
	background: rgba(255, 255, 255, .7);
}
#footer p{
	text-align:center;
}

.attribute{
	margin-left: 30px;
	color:#007;
	text-align: left;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-stretch:extra-expanded;	
}


.main {
    width: 800px;
    height: 600px;
    margin: 50px auto;
}

.panel a#join_pop {

    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}