/*halaman utama*/

body {background-image:url("images/simple-leaves.gif");}

.bgcontent {background-color: #95B9C7;}

/* Header */
.header-cont
{
	width: 100%;
	position: relative;
	top: 0px;
}
.header 
{
	height:100px;
	background-color : #95B9C7;
	width:1300px;
	margin:0px auto;
}
.header:before
{
	content: '';
	position: absolute;
	z-index: 0;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}

.header:before
{
	content: '';
	position: absolute;
	z-index: 0;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}

div.container 
{
	position: relative;
	margin-left: 0;
	margin: 20px 0 0 25px;
	width: 350px;
}

div.container2 
{
	position: absolute;
	left : 375px;
	margin-right: 3;
	margin: 20px 0 0 25px;
	width: 935px;
}
div.subcontainer2 
{
	position: absolute;
	left : 375px;
	margin-right: 3;
	margin: 20px 0 0 25px;
	width: 880px;
}

/* Comment Box */
#commentbox
{
	position: absolute;
	z-index: 0;
}
#commentbox
{
	box-shadow:
		0 0 2px #E0FFFF,
		0 1px 1px #E0FFFF,
		0 3px 0 #95B9C7,
		0 4px 0 #E0FFFF,
		0 6px 0 #95B9C7,
		0 7px 0 #E0FFFF;
}
#commentbox:before
{
	content: '';
	position: absolute;
	z-index: 0;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}
div#commenttext
{
	position : relative;
	display : inline-block;
	left : 25px;
	top: 10px;
	margin : 0 0 0 0;
}
div#commenttext a
{
	font-family : Georgia, Serif;
	font-size : 2.5em;
	color : #E0FFFF;
	text-shadow : #ffc130, 1em 1em 0;
}
div#commenttext p
{
	font-family : Georgia, Serif;
	font-size : 1em;
	color : #E0FFFF;
	text-align:justify;
	display: inline-block;
}

#menu{
	width: 100%;
	margin: 0;
	padding: 15px 0 0 15px;
	list-style: none;
	position: relative;
	font-size: 40pt;
	color: #999;
	text-transform: uppercase;
	font: Georgia, Serif;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#sidebar
{
	font-family : Georgia, Serif;
	position: absolute;
	z-index: 0;
	position: relative;
	margin-left: 0;
	margin: 20px 0 0 25px;
	width: 350px;
	border-radius: 15px;
	
}
#sidebar
{
	box-shadow:
		0 0 2px #E0FFFF,
		0 1px 1px #E0FFFF,
		0 3px 0 #95B9C7,
		0 4px 0 #E0FFFF,
		0 6px 0 #95B9C7,
		0 7px 0 #E0FFFF;
}
#sidebar:before
{
	position: absolute;
	z-index: 0;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}
div#sidetext
{
	position : relative;
	display : inline-block;
	left : 25px;
	top: 10px;
	margin : 0 0 0 0;
}
div#sidetext a
{
	font-size : 1.5em;
	color : #E0FFFF;
	text-shadow : #ffc130, 1em 1em 0;
}

div#ref
{
	color: #00000;
	font-size: 12px;
	position : relative;
	display : inline-block;
	left : 25px;
	top: 0px;
	margin : 0 0 0 0;
	float:center
}

#sidetext label{
	display:block;
	font-weight:bold;
	text-align:left;
	width:90px;
	float:left;
}
#sidetext .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	width:100px;
}
#sidetext input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:1px 0 20px 10px;
}

#sidetext button{
	font-family : Georgia, Serif;
	float:center;
	width:100px;
}
