#inputarea{
	width:600px;
	height:300px;
	margin:60px auto;
	background: #ddd; 
	border-radius: 0.5em;
	border: 1px solid #ddd;
	background-image: linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -o-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	font-family: 'Ubuntu', 'Lato', sans-serif;
	color: rgb(10, 10, 10);
	font-weight: 75;
	font-size: 22px;
	
}

#metadata{
	width:200px;
	height:125px;
	float:left;
}

#metadata paa{
	margin-top:10px;
}

#input{
	width:400px;
	height:125px;
	float:left;
}

paa {
	text-align:left;
	margin-left:35%;
	font-family:arial,sans-serif;
	font-size: 16px;
}

pab {
	text-align:left;
	margin-left:15%;
	font-family:arial,sans-serif;
}

pac {
	margin-left:43%;
	margin-right:auto;
	font-family:arial,sans-serif;
}

pad {
	text-align:left; 
	margin-left:16%;
	font-family:arial,sans-serif;
}

pae {
	text-align:left; 
	margin-left:30%;
	font-family:arial,sans-serif;
}

paf {
	margin-left:26%;
	font-family:arial,sans-serif;
}

pag {
	text-align:left;
	font-family:arial,sans-serif;
	font-size:17px;
}

pah{
	text-align:left;
	font-family:arial,sans-serif;
	font-size:12px;
}

#tanggal{
	width:50px;
}

#bulan{
	width:50px;
}

#tahun{
	width:70px;
}

#tombol{
	width:600px;
	height:90px;
	clear:both;
}

#container{
	width:650px;
	margin:60px auto;
	background: #ddd; 
	border-radius: 0.5em;
	border: 1px solid #ddd;
	background-image: linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -o-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(219, 219, 219) 45%, rgb(238, 238, 238) 73%, rgb(255, 255, 255) 87%);
	font-family: 'Ubuntu', 'Lato', sans-serif;
	color: rgb(10, 10, 10);
	font-weight: 75;
	font-size: 18px;
}

#edited{
	width:400px;
	height:165px;
	border-style:dotted; 
	border-width:1px; 
	float:left;
	display:block;
	margin-top:5%;
	margin-left:10%;
}

#editing{
	display:none;
	width:400px;
	height:165px;
	border-style:dotted; 
	border-width:1px; 
	float:left;
	margin-top:5%;
	margin-left:10%;
}

#rincian{
	height:176px;
	width:100px;
	float:left;
	margin-top:5%;
}

#isi{
	height:176px;
	width:300px;
	float:left;
	margin-top:5%;
}

#tombol_edit{
	height:200px;
	width:170px;
	float:left;
	display:block;
}

#done_edit{
	display:none;
	height:200px;
	width:170px;
	float:left;
}

#comment{
	width:650px; 
	height:300px;
	clear:both;
}

#komentar{
	width:100px;
	float:left;
	height:200px;
	margin-left:10%;
	margin-top:5%;
}

#isi2{
	height:200px;
	width:80px;
	float:left;
	margin-top:5%;
}

#tuliskomen{
	height:200px;
	width:300px;
	float:left;
	margin-top:5%;
}

#areatulis{
	resize:none;
}

#submitdone{
	float:right;
	border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(4, 122, 151, 0.4);
    box-shadow:
	inset 0 1px 0 rgba(255,255,255,0.3),
	inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
	
	font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

#tombolcreate{
	width:8em;
	margin:30px auto;
	border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(4, 122, 151, 0.4);
    box-shadow:
	inset 0 1px 0 rgba(255,255,255,0.3),
	inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
	
	font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

#edit_button{
	margin-top:30%;
	margin-left:30px;
	text-decoration: none;
	
	border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(4, 122, 151, 0.4);
    box-shadow:
	inset 0 1px 0 rgba(255,255,255,0.3),
	inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
	
	font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

#done_button{
	margin-top:30%;
	margin-left:30px;
	text-decoration: none;
	
	border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(4, 122, 151, 0.4);
    box-shadow:
	inset 0 1px 0 rgba(255,255,255,0.3),
	inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
	
	font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}