* {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
img {
    border: 0px;
}
.page {
    float: left;
    width: 100%;
    min-width: 1017px;
}
.page .content {
    width: 960px;
    margin: 0px auto;
}
nav {
	clear: both;
	width: 960px;
	display: block;
	background-color: #5fae53;
}
nav div.logo, #slogan, #loginwrapper {
	display: inline-block;
}
nav div.logo {
	width: 190px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 10px;
}
nav .logo img {
	margin-bottom: -5px;
}
#slogan {
	width: 300px;
	padding-top: 20px;
	padding-left: 10px;
	color: #ffffff;
}
#loginwrapper {
	width: 400px;
	padding-left: 5px;
}
#loginwrapper form #username, #loginwrapper form #password {
	display: inline-block;
	color: #FFFFFF;
	font-size: 70%;
}
#loginwrapper form #login_button {
	display: inline-block;
	margin-bottom: 0px;
	border: none;
}
#login_submit{
	margin-bottom: 0px;
}
.textbox {
	height: 20px;
}
#leftcolumn {
	display: inline-block;
	width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#rightcolumn {
	display: inline-block;
	width: 300px;
	margin-bottom: -100px;
}
h1, h2 {
	color: #5fae53;
}
#terms {
	font-size: 70%;
	color: gray;
	padding-top: 5px;
	padding-bottom: 5px;
}
#teaservid {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px auto;
}
.regbox {
	width: 340px;
	height: 40px;
	font-size: 110%;
}
#registerwrapper form #username, #registerwrapper form #password, 
#registerwrapper form #password_confirm, #registerwrapper form #nama, 
#registerwrapper form #email, #registerwrapper form #avatar {
	padding-top: 5px;
	padding-bottom: 5px;
}
#registerwrapper form p.regtext {
	color: gray;
}
footer {
	clear: both;
	background-color: #5fae53;
	width: 960px;
	height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-size: 70%;
}