<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>id.ac.itb.todolist.controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>id.ac.itb.todolist.ajax.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>id.ac.itb.todolist.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailabilityChecker</servlet-name>
        <servlet-class>id.ac.itb.todolist.ajax.AvailabilityChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetilTugas</servlet-name>
        <servlet-class>id.ac.itb.todolist.ajax.DetilTugas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTugas</servlet-name>
        <servlet-class>id.ac.itb.todolist.ajax.UpdateTugas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/ajax/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailabilityChecker</servlet-name>
        <url-pattern>/ajax/availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetilTugas</servlet-name>
        <url-pattern>/ajax/detiltugas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTugas</servlet-name>
        <url-pattern>/ajax/updatetugas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
