<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.progin4solasido.server</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.progin4solasido.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTask</servlet-name>
    <servlet-class>com.progin4solasido.server.AddTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>com.progin4solasido.server.DeleteTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapusCategory</servlet-name>
    <servlet-class>com.progin4solasido.server.HapusCategory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rincian</servlet-name>
    <servlet-class>com.progin4solasido.server.Rincian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.progin4solasido.server.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>daftartask</servlet-name>
    <servlet-class>com.progin4solasido.server.daftartask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dbconn</servlet-name>
    <servlet-class>com.progin4solasido.server.dbconn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editprofile</servlet-name>
    <servlet-class>com.progin4solasido.server.editprofile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newcategory</servlet-name>
    <servlet-class>com.progin4solasido.server.newcategory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.progin4solasido.server.register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestResourceClient</servlet-name>
    <servlet-class>com.progin4solasido.server.TestResourceClient</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/progin4solasido/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTask</servlet-name>
    <url-pattern>/AddTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/DeleteTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapusCategory</servlet-name>
    <url-pattern>/HapusCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rincian</servlet-name>
    <url-pattern>/Rincian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>daftartask</servlet-name>
    <url-pattern>/daftartask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dbconn</servlet-name>
    <url-pattern>/dbconn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editprofile</servlet-name>
    <url-pattern>/editprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newcategory</servlet-name>
    <url-pattern>/newcategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestResourceClient</servlet-name>
    <url-pattern>/TestResourceClient</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
